 .control-section .content-wrapper.sample-numeric {
        width: 30%;
        margin: 0 auto;
        min-width: 185px;
    }

.format-wrapper .e-float-input.e-numeric.e-input-group { 
    margin-bottom: 40px; 
}

.sample-numeric .control-label {
    padding: 24px 0px 10px 0px;
    font-size: 12px;
    opacity: 1;
}

.highcontrast #min,
.highcontrast #max,
.highcontrast #step {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);;
}

.material3-dark #min,
.material3-dark #max,
.material3-dark #step,
.material-dark #min,
.material-dark #max,
.material-dark #step {
    background-color: rgba(0, 0, 0, 0);
    color: rgb(255, 255, 255);
}

.fabric-dark #min,
.fabric-dark #max,
.fabric-dark #step {
    background-color: rgb(32, 31, 31);
    color: rgb(218, 218, 218);
}

.bootstrap-dark #min,
.bootstrap-dark #max,
.bootstrap-dark #step {
    background-color: rgb(26, 26, 26);
    color: rgb(240, 240, 240);
}

.bootstrap5-dark #min,
.bootstrap5-dark #max,
.bootstrap5-dark #step {
    background-color: rgb(33, 37, 41);
    color: rgb(255, 255, 255);
}

.tailwind-dark #min,
.tailwind3-dark #min,
.tailwind-dark #max,
.tailwind3-dark #max,
.tailwind-dark #step,
.tailwind3-dark #step {
    background-color: rgb(31, 41, 55);
    color: rgb(255, 255, 255);
}

.fluent-dark #min,
.fluent-dark #max,
.fluent-dark #step {
    background-color: rgb(27, 26, 25);
    color: rgb(255, 255, 255);
}