.code-editor #code-text {
    margin-left: 5px;
}
.code-editor .code-preview {
    margin-top: 15px;
    font-size: 12px;
}
.code-editor {
    margin: 20px auto;
    max-width: 600px;
}
.code-editor.control-section{            
    min-height: 370px;
    margin-bottom: 15px;
    margin-top: 10px;    
}

.code-editor .h3 {
    font-size: 14px;
    margin: 4px;
}

.code-editor .splitter-editor-content {
    padding: 12px;
}
.code-editor .splitter-image {
    margin: 0 auto;
    display: flex;
    height: 115px;
    margin-top: 10px;
}

#codeEditor {
    border: none;
}

div.e-pane-vertical > div:first-child {
    height: 100%;
}