.outlook-style #discard {
    margin-left: 7px;
}
.outlook-style table {
    width: 100%;
}
.outlook-style {
    margin: 20px auto;
    max-width: 820px;
}
.outlook-style td {
    padding: 2px;
}
.outlook-style.control-section{            
    min-height: 370px;  
}
.outlook-style .e-treeview .e-list-text {
    width: 100%;
}
.outlook-style #groupedList-split.e-listview .e-list-group-item {
    height: 0;
}
.outlook-style #splitter1 .settings.e-list-wrapper.e-list-multi-line.e-list-avatar {
    padding: 15px;
}
.outlook-style #buttonSection {
    padding: 7px;
}
.outlook-style #createpostholder {
    padding-left: 3px;
    padding-right: 4px;
}

#splitter-tree .e-text-content .countcontainer {
    float: right;
    margin-right: 10px;
}

#splitter-tree .treeviewdiv .textcontent {
    display: inline-block;
}

#splitter-tree .treeviewdiv {
    display: inline-block;
    width: 100%;
}

#splitter1 #splitter-tree ul.e-list-parent.e-ul {
	padding: 0 0 0 16px;
}
.material3-dark .e-listview.e-list-template .e-list-wrapper.e-list-multi-line .e-list-item-header,
.material-dark .e-listview.e-list-template .e-list-wrapper.e-list-multi-line .e-list-item-header {
    color: #fff;
}

.material3-dark .e-listview.e-list-template .e-list-wrapper.e-list-multi-line .e-list-content,
.material-dark .e-listview.e-list-template .e-list-wrapper.e-list-multi-line .e-list-content {
    color: #9ca3af;
}

.material3-dark .e-listview.e-list-template .e-list-item.e-hover .e-list-content,
.material-dark .e-listview.e-list-template .e-list-item.e-hover .e-list-content {
    color: #fff;
}

.tailwind .e-list-parent.e-ul,
.tailwind-dark .e-list-parent.e-ul {
    overflow: hidden;
} 