.e-treegrid .e-header {
    margin-left: 12px;
}
.fluent-dark img.taskName, .material-dark img.taskName, .material3-dark img.taskName, .fabric-dark img.taskName, .bootstrap-dark img.taskName,
.tailwind-dark img.taskName, .bootstrap5-dark img.taskName, .highcontrast img.taskName, .fluent2-dark img.taskName, .fluent-highcontrast img.taskName {
  content: url('src/treegrid/images/darkTaskname.png')
}
.fluent img.taskName, .material img.taskName, .material3 img.taskName, .fabric img.taskName, .bootstrap img.taskName, 
.tailwind img.taskName, .bootstrap5 img.taskName, .bootstrap4 img.taskName, .fluent img.taskName, .fluent2 img.taskName {
  content: url('src/treegrid/images/__Task name.png')
}
.fluent-dark img.startDate, .material-dark img.startDate, .material3-dark img.startDate, .fabric-dark img.startDate, .bootstrap-dark img.startDate,
.tailwind-dark img.startDate, .bootstrap5-dark img.startDate, .highcontrast img.startDate, .fluent2-dark img.startDate, .fluent2-highcontrast img.startDate {
  content: url('src/treegrid/images/darkStartname.png')
}
.fluent img.startDate, .material img.startDate, .material3 img.startDate, .fabric img.startDate, .bootstrap img.startDate, 
.tailwind img.startDate, .bootstrap5 img.startDate, .bootstrap4 img.startDate, .fluent img.startDate, .fluent2 img.startDate {
  content: url('src/treegrid/images/__Start name.png')
}
.fluent-dark img.resources, .material-dark img.resources, .material3-dark img.resources, .fabric-dark img.resources, .bootstrap-dark img.resources,
.tailwind-dark img.resources, .bootstrap5-dark img.resources, .highcontrast img.resources, .fluent2-dark img.resources, .fluent2-highcontrast img.resources {
  content: url('src/treegrid/images/darkResources.png')
}
.fluent img.resources, .material img.resources, .material3 img.resources, .fabric img.resources, .bootstrap img.resources, 
.tailwind img.resources, .bootstrap5 img.resources, .bootstrap4 img.resources, .fluent img.resources, .fluent2 img.resources {
  content: url('src/treegrid/images/__Resources.png')
}
.fluent-dark img.duration, .material-dark img.duration, .material3-dark img.duration, .fabric-dark img.duration, .bootstrap-dark img.duration,
.tailwind-dark img.duration, .bootstrap5-dark img.duration, .highcontrast img.duration, .fluent2-dark img.duration, .fluent2-highcontrast img.duration {
  content: url('src/treegrid/images/darkduration.png')
}
.fluent img.duration, .material img.duration, .material3 img.duration, .fabric img.duration, .bootstrap img.duration, 
.tailwind img.duration, .bootstrap5 img.duration, .bootstrap4 img.duration, .fluent img.duration, .fluent2 img.duration {
  content: url('src/treegrid/images/__Duration.png')
}
.fluent-dark img.progress-column, .material-dark img.progress-column, .material3-dark img.progress-column, .fabric-dark img.progress-column, .bootstrap-dark img.progress-column,
.tailwind-dark img.progress-column, .bootstrap5-dark img.progress-column, .highcontrast img.progress-column, .fluent2-dark img.progress-column,  .fluent2-highcontrast img.progress-column{
  content: url('src/treegrid/images/darkprogress.png')
}
.fluent img.progress-column, .material img.progress-column, .material3 img.progress-column, .fabric img.progress-column, .bootstrap img.progress-column, 
.tailwind img.progress-column, .bootstrap5 img.progress-column, .bootstrap4 img.progress-column, .fluent img.progress-column, .fluent2 img.progress-column {
  content: url('src/treegrid/images/__progress.png')
}
.bootstrap5-dark img.progress-column,.bootstrap5-dark img.duration,.tailwind-dark img.resources {
  padding-bottom: 1px;
}
.bootstrap5 img.taskName,.bootstrap5 img.startDate,.bootstrap5 img.resources,.tailwind-dark img.taskName,
.tailwind-dark img.duration,.tailwind-dark img.progress-column {
  padding-bottom: 2px;
}
.bootstrap5 img.duration,.bootstrap5 img.progress-column,.tailwind img.taskName,.tailwind img.startDate,
.tailwind img.resources,.tailwind img.duration,.tailwind img.progress-column {
  padding-bottom: 3px;
}
