#TreeGrid_gridcontrol_ccdlg .e-columnChooserTemplate {
    overflow-x: auto !important;
    overflow-y: auto;
    min-width: 225px;
}
#TreeGrid_gridcontrol_ccdlg .e-columnChooserTemplate .e-ul {
    width: fit-content !important;
}
#TreeGrid_gridcontrol_ccdlg .e-treeview .e-text-content,
#TreeGrid_gridcontrol_ccdlg .e-treeview .e-list-text {
    white-space: nowrap !important;
    overflow: hidden;
}