#dropdowndefault .col-lg-9 {
    min-height: 250px;
}

#dropdowndefault .content-wrapper {
    max-width: 246px;
    margin: 30px auto;
    padding-top: 50px;
}

#default {
    margin: 0 auto;
    width: 250px !important;
    padding-top: 15px;
}
#dropdowndefault .property-panel-content {
    overflow: hidden;
}

#dropdowndefault .property-section{
    padding-bottom: 15px;
    width: 200px;
    left: 80px;
}