#SemanticGrid .e-row.e-altrow {
    background-color: #FAFAFA;
}

.fluent-dark #SemanticGrid .e-row.e-altrow,
.fluent2-dark #SemanticGrid .e-row.e-altrow,
.tailwind-dark #SemanticGrid .e-row.e-altrow,
.material-dark #SemanticGrid .e-row.e-altrow,
.material3-dark #SemanticGrid .e-row.e-altrow,
.fabric-dark #SemanticGrid .e-row.e-altrow,
.bootstrap-dark #SemanticGrid .e-row.e-altrow,
.bootstrap4-dark #SemanticGrid .e-row.e-altrow,
.bootstrap5-dark #SemanticGrid .e-row.e-altrow,
.highcontrast #SemanticGrid .e-row.e-altrow {
    background-color: #353839;
}

#smart_search_button {
    margin-left: 8px;
}