.npmrc
.vscode/
node_modules/
spec/**/*.js
spec/**/*.map
src/**/*.js
dist/
*d.ts
*.map
*.ngstyle.ts
src/**/*.map
styles/*.*
!styles/index.css
!styles/highlight.css
!styles/images/*.*
src/**/*-routes.tsx
!src/common/typing.d.ts
search-index.json
src/**/*-plnkr.json
src/**/*-stack.json
!src/common/lib/**
!src/common/plnk-template/systemjs.config.js
src/common/api-table
!src/common/api-table-generator.js