.npmrc
**/*.ts
!**/*.d.ts
!dist/ts/**/*.ts
spec/
public/
.vscode/
coverage/
shelljs_*
.npmignore
pipeline.cmd
config.json
gulpfile.js
test-report/
test-main.js
tsconfig.json
node-modules/
karma.conf.js
Jenkinsfile
coverage.txt
yarn.lock
dist/global/*.js
src/**/*.js
!dist/global/*ej2-grids*