.e-custom-parent {
    background-color: #6d619b;
    border: 1px solid #3f51b5;
}

.e-custom-moments {
    background-color: #7ab748;
    border: 1px solid #3f51b5;
}

.e-custom-performance {
    background-color: #ad7a66;
    border: 1px solid #3f51b5;
}

.moments, .face-mask, .oscar{
    position:relative;
    top:14px;
    left:5px;
    padding-right:4px;  
}

#TaskbarTemplate .e-milestone-top {
    border-bottom-color: #7ab748 !important;
    border-bottom:  1px solid #3f51b5;
}

#TaskbarTemplate .e-milestone-bottom{
    border-top-color: #7ab748 !important;
    border-top:  1px solid #3f51b5;
}
