#Unscheduled .e-add-icon::before {
  content: '\e506';
  font-family: 'e-icons';
}
.bootstrap4 #Unscheduled .e-add-icon::before {
  content: '\e783';
  font-family: 'e-icons';
}
.bootstrap5 #Unscheduled .e-add-icon:before,.bootstrap5-dark #Unscheduled .e-add-icon:before,
.tailwind #Unscheduled .e-add-icon:before,.tailwind-dark #Unscheduled .e-add-icon:before,
.fluent #Unscheduled .e-add-icon:before, .fluent-dark #Unscheduled .e-add-icon:before,
.material3-dark #Unscheduled .e-add-icon:before ,.material3 #Unscheduled .e-add-icon:before {
   content: "\e836"
}