 /* Specifies sample level styles for Sidebar */
 #wrapper .listcontent {
    font-size: 14px;
    padding: 15px;
}

#wrapper.control-section {
    padding: 15px 0px;
}

#wrapper .listmaincontent {
    height: 380px;
}

#wrapper #left {
    float: left;
    width: 30px;
    height: 47px;
}

#wrapper .sidebar-list {
    z-index: 20 !important;
}

/*Specifies sample level style for Toolbar*/
#wrapper .e-toolbar .e-icons {
    font-size: 20px;
}

#wrapper .e-tbar-menu-icon:before {
    content: "\e914";
    font-family: 'sbicons';
}

/* Specifies the border bottom styles for toolbar in light theme*/
.material #wrapper .e-toolbar,
.tailwind #wrapper .e-toolbar,
.bootstrap5 #wrapper .e-toolbar {
    border-bottom: 1px solid #eaeaeae0;
}

/* Specifies the border bottom styles for toolbar in dark theme*/
.bootstrap5-dark #wrapper .e-toolbar,
.tailwind-dark #wrapper .e-toolbar,
.material-dark #wrapper .e-toolbar {
    border-bottom: 1px solid #eaeaea63;
}

.material #wrapper .e-toolbar .e-toolbar-items:not(.e-tbar-pos) .e-toolbar-item:first-child,
.material-dark #wrapper .e-toolbar .e-toolbar-items:not(.e-tbar-pos) .e-toolbar-item:first-child,
.bootstrap4.e-bigger #wrapper .e-toolbar .e-toolbar-items:not(.e-tbar-pos) .e-toolbar-item:first-child,
.tailwind.e-bigger #wrapper .e-toolbar .e-toolbar-items:not(.e-tbar-pos) .e-toolbar-item:first-child,
.tailwind-dark.e-bigger #wrapper .e-toolbar .e-toolbar-items:not(.e-tbar-pos) .e-toolbar-item:first-child {
    margin-left: 12px;
}

.e-bigger.material #wrapper .e-toolbar .e-toolbar-items:not(.e-tbar-pos) .e-toolbar-item:first-child {
    margin-left: 16px;
}

.bootstrap4 #wrapper .e-toolbar .e-toolbar-items:not(.e-tbar-pos) .e-toolbar-item:first-child,
.bootstrap #wrapper .e-toolbar .e-toolbar-items:not(.e-tbar-pos) .e-toolbar-item:first-child,
.bootstrap-dark #wrapper .e-toolbar .e-toolbar-items:not(.e-tbar-pos) .e-toolbar-item:first-child,
.bootstrap5.e-bigger #wrapper .e-toolbar .e-toolbar-items:not(.e-tbar-pos) .e-toolbar-item:first-child,
.bootstrap5-dark.e-bigger #wrapper .e-toolbar .e-toolbar-items:not(.e-tbar-pos) .e-toolbar-item:first-child {
    margin-left: 8px;
}

.bootstrap5 #wrapper .e-toolbar .e-toolbar-items:not(.e-tbar-pos) .e-toolbar-item:first-child,
.bootstrap5-dark #wrapper .e-toolbar .e-toolbar-items:not(.e-tbar-pos) .e-toolbar-item:first-child {
    margin-left: 5px;
}

.bootstrap.e-bigger #wrapper .e-toolbar .e-toolbar-items:not(.e-tbar-pos) .e-toolbar-item:first-child,
.bootstrap-dark.e-bigger #wrapper .e-toolbar .e-toolbar-items:not(.e-tbar-pos) .e-toolbar-item:first-child {
    margin-left: 10px;
}

.e-folder {
    text-align: center;
    font-weight: 500;
    font-size: 16px
}

.e-bigger .e-folder {
    font-size: 18px;
}

.bootstrap5 .e-folder-name,
.bootstrap5-dark .e-folder-name {
    margin-top: -2px;
}

.tailwind .e-folder-name,
.tailwind-dark .e-folder-name,
.bootstrap4 .e-folder-name,
.bootstrap .e-folder-name,
.bootstrap-dark .e-folder-name {
    margin-top: 3px;
    margin-left: 7px;
}

.material .e-folder-name,
.material-dark .e-folder-name {
    margin-top: 1px;
    margin-left: 9px;
}

/*Specifies sample level style for ListView*/
.bootstrap5 .e-template-list,
.bootstrap5-dark .e-template-list,
.tailwind .e-template-list,
.tailwind-dark .e-template-list,
.bootstrap4 .e-template-list {
    border: 0;
    border-radius: 0;
}

.e-template-list .e-list-item {
    line-height: 1.5;
    padding: 0 16px;
}

.list-wrapper {
    display: inline-flex;
    width: 100%;
}

.e-bigger .list-wrapper {
    padding-left: 8px;
}

.list-wrapper .text {
    padding-left: 14px;
}

.e-bigger .list-wrapper .text {
    padding-left: 20px;
}

.e-listbox-wrapper .list-wrapper .text {
    font-weight: bold;
    font-size: 13px;
}

.list-wrapper .e-avatar {
    background-color: transparent;
    float: left;
}

/* Specifies the background color of listview in dark theme*/
 .material-dark #wrapper .e-list-item,
.bootstrap-dark #wrapper .e-list-item {
    background-color: transparent;
}

.material .list-wrapper .e-avatar,
.material-dark .list-wrapper .e-avatar,
.highcontrast .list-wrapper .e-avatar {
    margin-top: 3px;
}

.fabric .list-wrapper .e-avatar,
.fabric-dark .list-wrapper .e-avatar {
    margin-top: 6px;
}

.material.e-bigger .list-wrapper .e-avatar,
.material-dark.e-bigger .list-wrapper .e-avatar,
.highcontrast.e-bigger .list-wrapper .e-avatar {
    margin-top: 7px;
}

.fabric-dark.e-bigger .list-wrapper .e-avatar,
.fabric.e-bigger .list-wrapper .e-avatar,
.bootstrap-dark.e-bigger .list-wrapper .e-avatar,
.bootstrap.e-bigger .list-wrapper .e-avatar {
    margin-top: 10px;
}

.bootstrap .list-wrapper .e-avatar,
.bootstrap-dark .list-wrapper .e-avatar {
    margin-top: 5px;
}

.bootstrap5 .list-wrapper .e-avatar,
.bootstrap5-dark .list-wrapper .e-avatar {
    margin-top: -3px;
}

.tailwind .list-wrapper .e-avatar,
.tailwind-dark .list-wrapper .e-avatar {
    margin-top: -1px;
}

.bootstrap5.e-bigger .list-wrapper .e-avatar,
.bootstrap5-dark.e-bigger .list-wrapper .e-avatar {
    margin-top: 0px;
}

.e-bigger.bootstrap5 .sidebar-list .e-listview:not(.e-list-template) .e-list-item,
.e-bigger.bootstrap5-dark .sidebar-list .e-listview:not(.e-list-template) .e-list-item {
    height: 43px;
}

.bootstrap4.e-bigger .sidebar-list .e-listview:not(.e-list-template) .e-list-item {
    padding: 12px 14px;
}

/*Specifies the icon styles for the ListView*/
#listSidebar .e-template-list .e-list-item .javascript {
    background-image: url('src/sidebar/images/javascript.svg');
}

#listSidebar .e-template-list .e-list-item .typescript {
    background-image: url('src/sidebar/images/typescript.svg')
}

#listSidebar .e-template-list .e-list-item .angular {
    background-image: url('src/sidebar/images/angular.svg');
}

#listSidebar .e-template-list .e-list-item .vue {
    background-image: url('src/sidebar/images/vue.svg');
}

#listSidebar .e-template-list .e-list-item .react {
    background-image: url('src/sidebar/images/react.svg');
}

.material-dark #wrapper .listcontent {
    color: white;
}

/* Specifies the border right color for the sidebar in light theme*/
.material .sidebar-list,
.fabric .sidebar-list,
.tailwind .sidebar-list,
.highcontrast .sidebar-list,
.bootstrap5 .sidebar-list {
    border-right: 1px solid #eaeaeae0;
}

/* Specifies the border right color for the sidebar in dark theme*/
.material-dark .sidebar-list,
.fabric-dark .sidebar-list,
.tailwind-dark .sidebar-list,
.bootstrap5-dark .sidebar-list {
    border-right: 1px solid #eaeaea63;
}