.ms-chip-customize #multi-customize {
    width: 80%;
    margin: 0 auto;
    min-width: 185px;
}
.e-bigger .ms-chip-customize #multi-customize{
    width: 100%;
}

.ms-chip-customize .e-multi-select-wrapper .e-chips{
  opacity: 0.9;
}

.ms-chip-customize .e-multi-select-wrapper .e-chips:hover{
  opacity: 1;
}

.ms-chip-customize .e-multi-select-wrapper .e-chips .e-chips-close.e-icon::before,
.ms-chip-customize .e-multi-select-wrapper .e-chips .e-chipcontent,
.ms-chip-customize .e-multi-select-wrapper .e-chips .e-chipcontent:hover {
    color: #ffffff;
}

.e-chips.chocolate,
.e-chips.chocolate:hover {
    background-color: #75523C;
}

.e-chips.darkorange,
.e-chips.darkorange:hover {
    background-color: #FF843D;
}

.e-chips.darkred,
.e-chips.darkred:hover {
    background-color: #CA3832;
}

.e-chips.fuchsia,
.e-chips.fuchsia:hover {
    background-color: #D44FA3;
}

.e-chips.cadetblue,
.e-chips.cadetblue:hover {
    background-color: #3B8289;
}

.e-chips.hotpink,
.e-chips.hotpink:hover {
    background-color: #F23F82;
}

.e-chips.indigo,
.e-chips.indigo:hover {
    background-color: #2F5D81;
}

.e-chips.limegreen,
.e-chips.limegreen:hover {
    background-color: #4CD242;
}

.e-chips.orangered,
.e-chips.orangered:hover {
    background-color: #FE2A00;
}

.e-chips.tomato,
.e-chips.tomato:hover {
    background-color: #FF745C;
}

.fabric .e-chips.chocolate,
.fabric .e-chips.chocolate:hover {
    background-color: #3c2f27;
}

.fabric .e-chips.darkred,
.fabric .e-chips.darkred:hover {
    background-color: #960f0a;
}

.fabric .e-chips.cadetblue,
.fabric .e-chips.cadetblue:hover {
    background-color: #36bac7;
}

.fabric .e-chips.indigo,
.fabric .e-chips.indigo:hover {
    background-color: #58a4df;
}