#multitemp.control-pane .control-section {
    width: 80%;
    margin: 0 auto;
    min-width: 185px;
}

.e-bigger #multitemp.control-pane .control-section {
    width: 100%;
}

#multiTemplate_popup .header .columnHeader {
    margin-left: 17px;
}

#multiTemplate_popup .header {
    font-weight: 600;
    color: rgba(0, 0, 0, .54);
    height: 48px;
    padding: 15px 0 0 16px;
    font-size: 16px;
    background-color: #f5f5f5;
}

.fabric #multiTemplate_popup .header {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    color: #0078d7;
    font-weight: 400;
}

.highcontrast #employees_popup .header {
    color: #fff;
    background-color: #000;
}

.bootstrap #multiTemplate_popup .header {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    color: #777;
    font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
    font-weight: 400;
    font-size: 12px;
    line-height: 30px;
    height: 30px;
    padding: 0 0 0 24px;
}

.fluent-dark #multiTemplate_popup .header {
    background: #252423;
    color: #2899F5;
}

.bootstrap5-dark #multiTemplate_popup .header {
    background: #343A40;
    color: #7B848D;
}

.fluent #multiTemplate_popup .header{
     color: #2899F5;
}

.tailwind-dark #multiTemplate_popup .header {
    background: #374151;
    color: rgb(255, 255, 255);
}

.material3-dark #multiTemplate_popup .header,
.material-dark #multiTemplate_popup .header {
    background: rgb(66, 66, 66);
    color: rgb(255, 255, 255);
}

.fabric-dark #multiTemplate_popup .header {
    background: rgb(40, 39, 39);
    color: rgb(255, 255, 255);
}

.bootstrap-dark #multiTemplate_popup .header {
    background: rgb(49, 49, 49);
    color: rgb(255, 255, 255);
}

.e-bigger.bootstrap #multiTemplate_popup .header {
    line-height: 44px;
    height: 44px;
    font-size: 13px;
}

#multiTemplate_popup .ms-ename {
    display: block !important;
    font-size: 16px;
    margin-top: 8px;
}

#multiTemplate_popup .ms-job {
    font-size: 14px;
    margin-bottom: 7px;
}

.bootstrap #multiTemplate_popup .ms-job {
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 7px;
}

#multiTemplate_popup .empImage {
    margin: 6px 16px;
    size: 50px;
    float: left;
}

.e-bigger.bootstrap #multiTemplate_popup .empImage {
    margin: 16px 16px;
}

.e-bigger.bootstrap #multiTemplate_popup .ms-ename {
    margin-top: 0px;
}

.e-bigger.bootstrap #multiTemplate_popup .ms-job {
    margin-top: -15px;
}

#multiTemplate_popup.e-popup .e-list-item * {
    display: block;
    text-indent: 0;
}

.e-bigger #multiTemplate_popup .e-dropdownbase .e-list-item {
    line-height: 42px;
    height: 80px;
}

.e-bigger #multiTemplate_popup .e-popup .empImage {
    margin: 10px 16px;
}

.e-bigger #multitemplate .nameTemp {
    padding: 0 0 0 35px;
    line-height: 1.2em;
}

.e-bigger.fabric-dark #multitemplate .nameTemp {
    padding: 3px 0 0 35px;
}

#multitemplate .nameTemp {
    padding: 5px 0px 0px 35px;
    line-height: 1.2em;
}

.tailwind.e-bigger #multitemplate .nameTemp,
.tailwind-dark.e-bigger #multitemplate .nameTemp {
    padding: 0 0 0 35px;
    line-height: 1.2em;
}

.material3.e-bigger #multitemplate .nameTemp,
.material3-dark.e-bigger #multitemplate .nameTemp {
    padding: 2px 0 0 35px;
    line-height: 1.2em;
}

.tailwind #multitemplate .nameTemp,
.tailwind-dark #multitemplate .nameTemp {
    padding: 7px 0px 0px 35px;
    line-height: 1.2em;
}

.bootstrap #multitemplate .nameTemp,
.bootstrap-dark #multitemplate .nameTemp {
    padding: 2px 0px 0px 35px;
    line-height: 1.2em;
}

.e-bigger #multitemplate .valueTemp {
    border-radius: 50%;
    float: left;
    margin-top: -6px;
    position: relative;
    left: 0px;
    height: 26px;
    width: 26px;
}

#multitemplate .valueTemp {
    border-radius: 50%;
    float: left;
    margin-top: 1px;
    position: relative;
    left: 0px;
    height: 26px;
    width: 26px;
}

.tailwind #multitemplate .valueTemp,
.tailwind-dark #multitemplate .valueTemp {
    margin-top: 3px;
    height: 22px;
    width: 22px;
}
.tailwind.e-bigger #multitemplate .valueTemp,
.tailwind-dark.e-bigger #multitemplate .valueTemp {
    margin-top: -5px;
    height: 26px;
    width: 26px;
}
.fabric #multitemplate .valueTemp {
    margin-top: 1px;
}

.highcontrast #multitemplate .valueTemp {
    margin-top: -2px;
}

.e-bigger #multitemplate .valueTemp {
    margin-top: -7px;
    height: 30px;
    width: 30px;
}

.e-bigger.fabric #multitemplate .valueTemp,
.e-bigger.fabric-dark #multitemplate .valueTemp {
    margin-top: -3px;
}

.e-bigger.bootstrap5 #multitemplate .valueTemp,
.e-bigger.bootstrap5-dark #multitemplate .valueTemp {
    margin-top: -6px;
}

.e-bigger.material #multitemplate .valueTemp,
.e-bigger.material-dark #multitemplate .valueTemp {
    height: 32px;
    width: 32px;
    margin-top: -8px;
}

.fabric #multitemplate .nameTemp,
.highcontrast #multitemplate .nameTemp {
    width: 123px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 0 0 36px;
    position: relative;
    bottom: 23px;
    margin-right: -27px;
}

.e-bigger.fabric #multitemplate .nameTemp {
    bottom: 24px;
}

.e-bigger.highcontrast #multitemplate .nameTemp {
    bottom: 21px;
}

.material #multitemplate .nameTemp,
.material-dark #multitemplate .nameTemp {
    width: 114px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 0 0 36px;
    position: relative;
    bottom: 20px;
    margin-right: -25px;
}

.e-bigger.material #multitemplate .nameTemp,
.e-bigger.material-dark #multitemplate .nameTemp {
    bottom: 22px;
}

.bootstrap #multitemplate .nameTemp,
.bootstrap-dark #multitemplate .nameTemp {
    width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 0 0 29px;
    bottom: 20px;
    position: relative;
    margin-right: -24px;
}

.e-bigger.bootstrap #multitemplate .valueTemp {
    height: 30px;
    width: 30px;
    left: -10px;
    margin-top: 1px;
}

.e-bigger.bootstrap-dark #multitemplate .valueTemp {
    height: 30px;
    width: 30px;
    left: -7px;
    margin-top: -6px;
}

.bootstrap #multitemplate .valueTemp,
.bootstrap-dark #multitemplate .valueTemp {
    margin-top: -5px;
}

.e-bigger.bootstrap #multitemplate .nameTemp,
.e-bigger.bootstrap-dark #multitemplate .nameTemp {
    bottom: 23px;
    padding: 0 0 0 36px;
}

#multitemplate .e-multi-select-wrapper .e-chips>.e-chipcontent {
    height: 28px;
}

.e-bigger #multitemplate .e-multi-select-wrapper .e-chips>.e-chipcontent {
    height: 32px;
}

.fabric.e-bigger #multitemplate .e-multi-select-wrapper .e-chips>.e-chipcontent {
    height: 30px;
}

.e-bigger #multitemplate #multitemplate .e-multi-select-wrapper .e-chips.e-mob-chip.e-chip-selected .e-chipcontent {
    height: 36px;
}

#multitemplate .e-multi-select-wrapper .e-chips {
    padding: 0 4px 0 0px;
}

.bootstrap.e-bigger #multitemplate .e-multi-select-wrapper .e-chips>.e-chipcontent {
    height: 46px;
}

.bootstrap.e-bigger #multitemplate .e-multi-select-wrapper .e-chips.e-mob-chip.e-chip-selected .valueTemp {
    left: 0px;
}

.bootstrap4 #multitemplate .nameTemp {
    padding: 0px 0px 0px 26px;
    line-height: 1.2em;
    margin-top: 1px;
}

.bootstrap4 #multitemplate .valueTemp {
    margin-left: -6px;
    height: 22px;
    width: 22px;
    margin-top: -4px;
}

.bootstrap4 #multiTemplate_popup .ms-job {
    margin-top: 0;
}

.e-bigger.bootstrap4 #multiTemplate_popup .ms-job {
    margin-top: -15px;
}

.tailwind #multiTemplate_popup .ms-job {
    margin-top: -7px;
    margin-bottom: 5px;
}

.e-bigger.tailwind #multiTemplate_popup .ms-job {
    margin-top: -15px;
    margin-bottom: 5px;
}

.bootstrap4 #multiTemplate_popup .empImage {
    margin: 1px 16px;
}

.e-bigger.bootstrap4 #multitemplate .valueTemp,
.e-bigger.highcontrast #multitemplate .valueTemp {
    margin-left: -6px;
    height: 26px;
    width: 26px;
    margin-top: -4px;
}

.e-bigger.highcontrast #multitemplate .valueTemp {
    margin-left: 0px;
    height: 26px;
    width: 26px;
    margin-top: -3px;
}

.e-bigger.bootstrap4 #multitemplate .nameTemp {
    padding: 0 0 0 26px;
    line-height: 1.6em;
}

.e-bigger.fluent .e-multi-select-wrapper .e-chips .e-chips-close::before,
.e-bigger.fluent-dark .e-multi-select-wrapper .e-chips .e-chips-close::before {
    top: 2px;
}

.e-bigger.highcontrast .e-multi-select-wrapper .e-chips .e-chips-close::before {
    top: 10px;
}

.e-bigger.bootstrap4 .e-multi-select-wrapper .e-chips .e-chips-close::before {
    top: 12px;
}
