.control-section .multi-control-wrapper {
    width: 80%;
    margin: 0 auto;
    width: 250px;
    padding-top: 15px
}

#Template_popup .header {
    font-weight: 600;
    color: rgba(0, 0, 0, .54);
    height: 48px;
    padding: 15px 0 0 16px;
    font-size: 16px;
    background-color: #f5f5f5;
}

/* custom code start*/
.fabric #Template_popup .header {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    color: #0078d7;
    font-weight: 400;
}

.fluent-dark #Template_popup .header {
    background: #252423;
    color: #2899F5;
}

.bootstrap5-dark #Template_popup .header {
    background: #343A40;
    color: #7B848D;
}

.fluent #Template_popup .header {
    color: #2899F5;
}

.tailwind-dark #Template_popup .header {
    background: #374151;
    color: rgb(255, 255, 255);
}

.material3-dark #Template_popup .header,
.material-dark #Template_popup .header {
    background: rgb(66, 66, 66);
    color: rgb(255, 255, 255);
}

.fabric-dark #Template_popup .header {
    background: rgb(40, 39, 39);
    color: rgb(255, 255, 255);
}

.bootstrap-dark #Template_popup .header {
    background: rgb(49, 49, 49);
    color: rgb(255, 255, 255);
}

.bootstrap #Template_popup .header {
    background-color: #f5f5f5;
    border-bottom: 1px solid #ccc;
    color: #777;
    font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
    font-weight: 600;
    font-size: 15px;
    height: 48px;
    padding: 15px 0 0 16px;
}

.highcontrast #Template_popup .header {
    color: #fff;
    background-color: #000;
}

.bootstrap4 #Template_popup .header {
    color: #6c757d;
}

.e-bigger.bootstrap #Template_popup .header {
    height: 44px;
    font-size: 13px;
}