.e-rte-custom-tbar-section #special_char,
.e-rte-custom-tbar-section .char_block {
    display: inline-block;
}

#rteSection{
    height: 500px;
}

    #custom_tbar,
    #custom_tbar div{
        cursor: pointer;
    }

    #rteSpecial_char {
        padding: 15px 0 15px 0;
    }

    .material .e-rte-custom-tbar-section .char_block.e-active {
        outline: 1px solid #e3165b;
        border-color: #e3165b;
    }

    .fabric .e-rte-custom-tbar-section .char_block.e-active {
        outline: 1px solid #0078d6;
        border-color: #0078d6;
    }

    .bootstrap .e-rte-custom-tbar-section .char_block.e-active {
        outline: 1px solid #317ab9;
        border-color: #317ab9;
    }
    #rteEmoticons-smiley , #rteEmoticons-animal {
        padding: 15px 0 15px 8px;
    }

    .highcontrast .e-rte-custom-tbar-section .char_block.e-active {
        outline: 1px solid #ffd939;
        border-color: #ffd939;
    }

    .fabric.e-bigger .e-toolbar .e-toolbar-items .e-toolbar-item .e-tbar-btn.e-btn .e-tbar-btn-text,
    .highcontrast.e-bigger .e-toolbar .e-toolbar-items .e-toolbar-item .e-tbar-btn.e-btn .e-tbar-btn-text {
        padding-right: 10px;
    }

    .bootstrap.e-bigger .e-toolbar .e-toolbar-items .e-toolbar-item .e-tbar-btn.e-btn .e-tbar-btn-text,
    .bootstrap .e-toolbar .e-toolbar-items .e-toolbar-item .e-tbar-btn.e-btn .e-tbar-btn-text {
        padding-right: 6px;
    }

    .fabric .e-toolbar .e-toolbar-items .e-toolbar-item .e-tbar-btn.e-btn .e-tbar-btn-text,
    .highcontrast .e-toolbar .e-toolbar-items .e-toolbar-item .e-tbar-btn.e-btn .e-tbar-btn-text {
        padding-right: 8px;
    }

    .e-rte-custom-tbar-section .char_block {
        width: 30px;
        height: 30px;
        line-height: 30px;
        margin: 0 5px 5px 0;
        text-align: center;
        vertical-align: middle;
        border: 1px solid #DDDDDD;
        font-size: 20px;
        cursor: pointer;
        user-select: none;
    }

    #rteCustomTool .e-richtexteditor .e-rte-content .e-content {
        float: left;
        width: 100%;
    }

    #rteCustomTool .content-wrapper {
        width: auto;
        margin: 0;
    }

    #custom_tbar div{
        font-size: 16px;
    }

    .e-bigger #custom_tbar div{
        font-size: 18px;
    }

    @media (min-width: 320px) and (max-width: 480px) {
        .fabric.e-bigger #customTbarDlg {
            min-width: 281px;
        }

        .fabric #customTbarDlg {
            min-width: 241px;
        }

        .bootstrap.e-bigger #customTbarDlg,
        .bootstrap #customTbarDlg {
            min-width: 223px;
        }
        #rteEmoticons-smiley , #rteEmoticons-animal {
            padding: 15px 0 15px 8px;
        }
        #rteSection {
            height: 500px;
        }
        .highcontrast.e-bigger #customTbarDlg {
            min-width: 283px;
        }
        .highcontrast #customTbarDlg {
            min-width: 243px;
        }
        .material #customTbarDlg {
            min-width: 224px;
        }
        .material.e-bigger #customTbarDlg {
            min-width: 236px;
        }
    }

#rteSection {
    height: 500px;
}