#rteCustomFormat .e-richtexteditor textarea.e-content {
    float: left;
}

#rteCustomFormat .e-richtexteditor .e-rte-content {
    overflow: hidden;
}

#rteCustomFormat .e-icon-btn.e-active .e-md-preview::before {
    content: '\e350';
}

#rteCustomFormat .e-icon-btn .e-md-preview::before {
    content: '\e345';
}

#rteCustomFormat .e-rte-content .e-content {
    float: right;
    width: 50%;
    overflow: auto;
    height: inherit;
    padding: 8px;
}

#rteCustomFormat .e-rte-content .e-content.e-pre-source {
    width: 100%;
}

#rteCustomFormat .e-richtexteditor .e-rte-content .e-content {
    float: left;
    width: 100%;
}

#rteCustomFormat {
    overflow: hidden;
}

#rteCustomFormat .content-wrapper {
    width: auto;
    margin: 0;
}