
#rteMarkdown .e-richtexteditor textarea.e-content {
    float: left;
}

#rteMarkdown .e-icon-btn.e-active .e-md-preview::before {
    content: '\e350';
}
#rteMarkdown .e-icon-btn .e-md-preview::before {
    content: '\e345';
}
.bootstrap4 #rteMarkdown .e-icon-btn.e-active .e-md-preview::before {
    content: '\e790';
}

.bootstrap4 #rteMarkdown .e-icon-btn .e-md-preview::before {
    content: '\e787';
}

.tailwind #rteMarkdown .e-icon-btn .e-md-preview::before {
    content: '\e7d0';
}

.tailwind #rteMarkdown .e-icon-btn.e-active .e-md-preview::before {
    content: '\e748';
}

.bootstrap5 #rteMarkdown .e-icon-btn.e-active .e-md-preview::before {
    content: '\e80e';
}

.bootstrap5 #rteMarkdown .e-icon-btn .e-md-preview::before {
    content: '\e7de';
}

#rteMarkdown .content-wrapper {
    width: auto;
    margin: 0;
}