
#rteMarkdown .e-richtexteditor textarea.e-content {
    float: left;
}
#rteMarkdown .e-richtexteditor .e-rte-content {
    overflow: hidden;
}
#rteMarkdown .e-icon-btn.e-active .e-md-preview::before {
    content: '\e350';
}
#rteMarkdown .e-icon-btn .e-md-preview::before {
    content: '\e345';
}
.bootstrap4 #rteMarkdown .e-icon-btn.e-active .e-md-preview::before {
    content: '\e790';
}

.bootstrap4 #rteMarkdown .e-icon-btn .e-md-preview::before {
    content: '\e787';
}

#rteMarkdown .content-wrapper {
    width: auto;
    margin: 0;
}