#rte .rte-control-section {
    margin: 0 auto;
}

#rte .e-richtexteditor .e-rte-content .e-content {
    float: left;
    width: 100%;
}

#rte .content-wrapper {
    width: auto;
    margin: 0;
}

#resizeRTE.e-richtexteditor {
    max-width: 880px;
    min-width: 200px;
    min-height: 100px;
    max-height: 400px;
}