#rte .rte-control-section {
    margin: 0 auto;
}

#rte .e-richtexteditor .e-rte-content .e-content {
    float: left;
    width: 100%;
}

#rte .content-wrapper {
    width: auto;
    margin: 0;
}

#resizeRTE.e-richtexteditor {
    max-width: 880px;
    min-width: 250px;
    min-height: 250px;
    max-height: 400px;
}
.control-section.resize-rte .e-popup.e-popup-open.e-dialog {
    height: 387px !important;
}
.control-section.resize-rte .e-dialog .e-dlg-content {
    overflow: inherit;
    overflow-x: inherit;
} 