.e-icons.block-view:before{
    content: open-quote;
    font-size: 30px;
    line-height: 20px;
}
.e-icons.h1-view:before{
    content: 'H1';
}
.e-icons.h2-view:before{
    content: 'H2';
}
.e-icons.h3-view:before{
    content: 'H3';
}
.e-icons.h4-view:before{
    content: 'H4';
}
.e-icons.e-text:before{
    content: 'T';
}

.format-table #icons{
    padding: 15px 15px;
    display: inline-block;
    width: 55px;
    font-size: 20px;
    line-height: 0px; 

}

.format-table #icons.e-icons.e-image, .format-table #icons.e-icons.e-audio, .format-table #icons.e-icons.e-table, 
.format-table #icons.e-icons.e-video, .format-table #icons.e-list-unordered, .format-table #icons.e-list-ordered{
    line-height: 10px !important;
}


.format-table .description {
    display: block;
    line-height: 20px;
    font-size: 12px;
    padding: 1px 0px 5px 0px;
}
.format-table .font {
    font-size: 16px;
    display: block;
    line-height: 20px;
    padding: 5px 0px 1px 0px;
}

#MentionInlineFormat .e-mention-chip{
    cursor: pointer;
}


#rteSpecial_char {
    padding: 15px 0 15px 0;
}

.fabric.e-bigger .e-toolbar .e-toolbar-items .e-toolbar-item .e-tbar-btn.e-btn .e-tbar-btn-text,
.highcontrast.e-bigger .e-toolbar .e-toolbar-items .e-toolbar-item .e-tbar-btn.e-btn .e-tbar-btn-text {
    padding-right: 10px;
}

.bootstrap.e-bigger .e-toolbar .e-toolbar-items .e-toolbar-item .e-tbar-btn.e-btn .e-tbar-btn-text,
.bootstrap .e-toolbar .e-toolbar-items .e-toolbar-item .e-tbar-btn.e-btn .e-tbar-btn-text {
    padding-right: 6px;
}

.fabric .e-toolbar .e-toolbar-items .e-toolbar-item .e-tbar-btn.e-btn .e-tbar-btn-text,
.highcontrast .e-toolbar .e-toolbar-items .e-toolbar-item .e-tbar-btn.e-btn .e-tbar-btn-text {
    padding-right: 8px;
}

#mentionFormat .e-richtexteditor .e-rte-content .e-content {
    float: left;
    width: 100%;
}

#mentionFormat .content-wrapper {
    width: auto;
    margin: 0;
}
