.e-btn-hide {
    display: none;
}

.dlgbtn {
    margin-right: 20px;
}

.control-section {
    height: 100%;
}

#target{
    height: 100%;
}

#promptDialog table {
    border-collapse: separate;
    border-spacing: 10px;
    width: 85%;
    margin: 0px -5px 0px;
}

.control-pane .dialog-target {
    min-height: 350px;
}