.e-btn-hide {
    display: none;
}

.dlgbtn {
    margin-right: 20px;
}

.control-section {
    height: 100%;
}

#target{
    height: 100%;
}

#promptDialog table {
    border-collapse: separate;
    border-spacing: 10px;
    width: 100%;
    padding: 0px 20px 20px;
}

.control-pane .dialog-target {
    min-height: 350px;
}