.material button#sendButton {
    top: 2px;
    position: relative;
}
.e-bigger.material button#sendButton {
    right: 7px;
}
.bootstrap button#sendbtn {
    margin-right: 1%;
}

.tailwind .target-element .e-dialog .e-dlg-header-content,
.tailwind-dark .target-element .e-dialog .e-dlg-header-content,
.tailwind3 .target-element .e-dialog .e-dlg-header-content,
.tailwind3-dark .target-element .e-dialog .e-dlg-header-content,
.bootstrap5 .target-element .e-dialog .e-dlg-header-content,
.bootstrap5-dark .target-element .e-dialog .e-dlg-header-content,
.bootstrap5\.3 .target-element .e-dialog .e-dlg-header-content,
.bootstrap5\.3-dark .target-element .e-dialog .e-dlg-header-content,
.material .target-element .e-dialog .e-dlg-header-content,
.material3 .target-element .e-dialog .e-dlg-header-content {
    background-color: #3f51b5;
}
.fabric .target-element .e-dialog .e-dlg-header-content {
    background-color: #0078d7;
}
.bootstrap .target-element .e-dialog .e-dlg-header-content {
    background-color: #428bca;
}
.bootstrap4 .target-element .e-dialog .e-dlg-header-content {
    background-color: #007bff;
}
.bootstrap5 .target-element .e-dialog .e-dlg-header-content {
    background-color: #0d6efd;
}
.highcontrast .target-element .e-dialog .e-dlg-header-content {
    background-color: #ffd939;
}
.material.e-bigger .target-element .e-dialog .e-footer-content {
    padding-left: 23px;
}

.target-element .e-dialog .e-dlg-header-content .e-btn.e-dlg-closeicon-btn {
    top: 5px;
    left: -11px;
}
.fluent .target-element .e-dialog .e-dlg-header-content .e-btn.e-dlg-closeicon-btn {
    top: 3px;
    left: 0px;
}
.bootstrap4 .target-element .e-dialog .e-dlg-header-content .e-btn.e-dlg-closeicon-btn,
.bootstrap4.e-bigger .e-dialog .e-dlg-header-content .e-btn.e-dlg-closeicon-btn {
    top: 8px;
}
.e-bigger .target-element .e-dialog .e-dlg-header-content .e-btn.e-dlg-closeicon-btn {
    top: 3px;
    left: -11px;
}
.target-element .e-dialog .e-dlg-header {
    position: relative;
}
.target-element .e-dialog .e-footer-content, .highcontrast.e-bigger .e-dialog .e-footer-content {
    padding: 15px;
}
.target-element .e-dialog .e-dlg-content {
    padding: 0;
}
.fabric button#sendButton, .highcontrast button#sendButton {
    position: relative;
}

.fabric button#sendbtn, .highcontrast button#sendbtn {
    top: -2px;
}
.fabric.e-bigger .target-element .e-dialog .e-footer-content .e-btn, .highcontrast.e-bigger .target-element .e-dialog .e-footer-content .e-btn {
    margin-top: -3px;
}
 .fabric .target-element input.e-input,  .highcontrast .target-element input.e-input {
    float: left;
    height: 35px;
}

.e-bigger.highcontrast button#sendbtn {
    margin-right: -17px;
    margin-top: -2%;
}

.target-element .e-dialog .e-dlg-header-content {
    padding: 6px;
}
.e-bigger.e-dialog .e-dlg-header-content, .e-bigger .target-element .e-dialog .e-dlg-header-content {
    padding: 8px;
}
.target-element .e-open-icon::before {
    content: '\e782';
}
#dlg-template {
    display: inline-block;
    padding: 0px 10px;
    vertical-align: middle;
    height: 40px;
    line-height: 40px;
}
.target-element input.e-input {
    width: 75%;
    float: left;
}
.e-bigger.bootstrap .target-element input.e-input {
    height: 39px;
}
.target-element .e-icon-settings.e-icons {
    float: left;
    position: relative;
    left: 14%;
    top: -33px;
}

.fabric .target-element .e-icon-settings.e-icons, .highcontrast .target-element .e-icon-settings.e-icons {
    top: -37px;
}

.e-bigger.fabric .target-element .e-icon-settings.e-icons, .e-bigger.highcontrast .target-element .e-icon-settings.e-icons {
    top: -35px;
}
.target-element .dialogContent .dialogText {
    font-size: 13px;
    padding: 5%;
    word-wrap: break-word;
    border-radius: 6px;
    text-align: justify;
    font-style: initial;
    display: block;
}
.target-element .e-dlg-header .e-icon-settings, .target-element .e-icon-btn {
    color: #fff;
}

.target-element .dialogContent .dialogText, .target-element .dialogContent .dialogText  {
    background-color: #f5f5f5;
}

.material-dark .dialogContent .dialogText,
.material3-dark .dialogContent .dialogText,
.fabric-dark .dialogContent .dialogText,
.bootstrap-dark .dialogContent .dialogText,
.bootstrap5-dark .dialogContent .dialogText,
.bootstrap5\.3-dark .dialogContent .dialogText,
.tailwind-dark .dialogContent .dialogText,
.tailwind3-dark .dialogContent .dialogText,
.fluent-dark .dialogContent .dialogText,
.fluent2-dark .dialogContent .dialogText,
.fluent2-highcontrast .dialogContent .dialogText {
    color: #ffffff;
    background-color: rgba(255,255,255,0.20);
}

.material .target-element .e-dialog .e-footer-content, .fabric .target-element .e-dialog .e-footer-content {
    border-top: 0.5px solid rgba(0, 0, 0, 0.42);
}
.highcontrast .target-element .e-dialog .e-footer-content, .fabric .target-element .e-dialog .e-footer-content {
    padding: 20px 25px;
}

.highcontrast .target-element .e-dialog .e-footer-content {
    border-top: 0.5px solid #fff;
}
.bootstrap4 .target-element .e-dialog .e-footer-content {
    border-top: 1px solid #e9ecef;
}
.bootstrap5 .target-element .e-dialog .e-footer-content,
.bootstrap5.3 .target-element .e-dialog .e-footer-content {
    border-top: 1px solid #dee2e6;
}
.bootstrap5-dark .target-element .e-dialog .e-footer-content,
.bootstrap5.3-dark .target-element .e-dialog .e-footer-content {
    border-top: 1px solid #444c54;
}
.highcontrast .target-element .dialogContent .dialogText { 
    background-color :  rgba(255,255,255,0.20);
}
.target-element .dialogContent {
    display: block;
    font-size: 15px;
    word-wrap: break-word;
    text-align: center;
    font-style: italic;
    border-radius: 6px;
    padding: 3%;
    position: relative;
    top: 5px;
}
.e-bigger.e-dialog .e-dlg-content, .e-bigger .target-element .e-dialog .e-dlg-content {
    padding: 0;
}
.bootstrap .target-element .dialogContent {
    top: 7px;
}
.control-wrapper .e-control.e-dialog {
    width: 30%;
}
.target-element .e-dialog .e-dlg-header-content .e-icon-dlg-close {
  color: #fff;
}
.fabric .target-element .e-dialog .e-btn.e-dlg-closeicon-btn:hover span{
    color: #8ECBFF;
}
.material .target-element .e-dialog .e-dlg-header-content .e-btn.e-dlg-closeicon-btn:hover,
.material .target-element .e-dialog .e-dlg-header-content .e-btn.e-dlg-closeicon-btn:focus {
    background-color: rgba(255,255,255, 0.10);
}
.bootstrap4 .target-element .e-dialog .e-dlg-header-content .e-btn.e-dlg-closeicon-btn:hover,
.bootstrap4 .target-element .e-dialog .e-dlg-header-content .e-btn.e-dlg-closeicon-btn:focus {
    background-color : transparent;
}
.tailwind .target-element .e-dialog .e-dlg-header-content .e-btn.e-dlg-closeicon-btn:hover,
.tailwind .target-element .e-dialog .e-dlg-header-content .e-btn.e-dlg-closeicon-btn:focus,
.tailwind-dark .target-element .e-dialog .e-dlg-header-content .e-btn.e-dlg-closeicon-btn:hover,
.tailwind-dark .target-element .e-dialog .e-dlg-header-content .e-btn.e-dlg-closeicon-btn:focus,
.tailwind3 .target-element .e-dialog .e-dlg-header-content .e-btn.e-dlg-closeicon-btn:hover,
.tailwind3 .target-element .e-dialog .e-dlg-header-content .e-btn.e-dlg-closeicon-btn:focus,
.tailwind3-dark .target-element .e-dialog .e-dlg-header-content .e-btn.e-dlg-closeicon-btn:hover,
.tailwind3-dark .target-element .e-dialog .e-dlg-header-content .e-btn.e-dlg-closeicon-btn:focus,
.bootstrap5 .target-element .e-dialog .e-dlg-header-content .e-btn.e-dlg-closeicon-btn:hover,
.bootstrap5 .target-element .e-dialog .e-dlg-header-content .e-btn.e-dlg-closeicon-btn:focus,
.bootstrap5-dark .target-element .e-dialog .e-dlg-header-content .e-btn.e-dlg-closeicon-btn:hover,
.bootstrap5-dark .target-element .e-dialog .e-dlg-header-content .e-btn.e-dlg-closeicon-btn:focus,
.bootstrap5.3 .target-element .e-dialog .e-dlg-header-content .e-btn.e-dlg-closeicon-btn:hover,
.bootstrap5.3 .target-element .e-dialog .e-dlg-header-content .e-btn.e-dlg-closeicon-btn:focus,
.bootstrap5.3-dark .target-element .e-dialog .e-dlg-header-content .e-btn.e-dlg-closeicon-btn:hover,
.bootstrap5.3-dark .target-element .e-dialog .e-dlg-header-content .e-btn.e-dlg-closeicon-btn:focus {
    background-color : transparent;
}
.material .target-element .e-dialog .e-dlg-header-content .e-btn.e-dlg-closeicon-btn:active .e-icon-dlg-close ,
.material .target-element .e-dialog .e-dlg-header-content .e-btn.e-dlg-closeicon-btn:focus .e-icon-dlg-close,
.material .target-element .e-dialog .e-dlg-header-content .e-btn.e-dlg-closeicon-btn:hover .e-icon-dlg-close {
    color: #fff;
}

.bootstrap5 .target-element .e-dialog .e-dlg-header-content .e-btn.e-dlg-closeicon-btn:hover,
.bootstrap5 .target-element .e-dialog .e-dlg-header-content .e-btn.e-dlg-closeicon-btn:focus {
    color: #faebd7;
}

.e-bigger .target-element .e-dialog.e-rtl .e-dlg-header-content .e-dlg-closeicon-btn.e-btn {
    top: 2px;
    margin-left: 20px;
}
.target-element .e-dialog.e-rtl .e-dlg-header-content .e-dlg-closeicon-btn.e-btn {
    top: 4px;
    margin-left: 20px;
}
.target-element .e-rtl input.e-input {
    width: 75%;
    float: right;
    margin-right: 9px;
}
.target-element .e-dialog .e-dlg-header-content .e-dlg-header .e-avatar.template-image {
    background-image: url(src/dialog/images/1.png);
    vertical-align: middle;
    display: inline-block;
    width: 36px;
    height: 36px;
}
.control-section .target-element {
    min-height: 350px;
}
.dlgbtn.dlgbtn-position {
    position: absolute;
}
