.control-section.spreadsheet-control {
    height: 550px;
}

#sb-content .e-spreadsheet .e-tab .e-tab-text {
    display: inherit;
}

.e-spreadsheet .e-cell .e-radio-wrapper {
    margin: 5px;
}

.e-spreadsheet .e-cell .e-radio-wrapper:first-child {
        margin-left: 0;
}

.e-spreadsheet .e-cell .e-radio + label .e-label {
    color: rgba(0, 0, 0, 0.87);
}
