.datetimepicker-control-section {
    max-width: 246px;
    margin: 30px auto;
    padding-top: 50px;
}

.e-calendar.e-rtl{
    max-width: 332px;
}
.e-bigger .e-calendar.e-rtl {
    max-width: 332px;
}

#format{
    padding-bottom: 15px;
    width: 200px;
    left: 80px;
    top: 40px;
} 

/* special dates sample styles */

.e-customStyle span.e-icons.highlight {
    margin-top: -13px;
    display: block;
    margin-left: 4px;
}

.e-customStyle span.e-icons.highlight,
.e-customStyle span.e-icons.highlight:before {
    color: rgb(0, 0, 255);
}

.highcontrast .e-customStyle td.birthday span.e-icons.highlight,
.highcontrast .e-customStyle td.birthday span.e-icons.highlight:before {
    color: #ff6161;
}

.highcontrast .e-customStyle td.farewell span.e-icons.highlight,
.highcontrast .e-customStyle td.farewell span.e-icons.highlight::before {
    color: #2bc700;
}

.highcontrast .e-customStyle td.vacation span.e-icons.highlight,
.highcontrast .e-customStyle td.vacation span.e-icons.highlight::before {
    color: #ff7d1a;
}

.e-customStyle .e-other-month span.e-icons.highlight:before {
    content: "";
}

.e-customStyle span.e-icons.highlight:before {
    content: "\e865";
    vertical-align: middle;
    margin-right: 3px;
    font-size: 4px;
    position: relative;
    top: -1px;
    font-weight: normal;
}

.e-bigger .e-customStyle .e-calendar span.e-icons.highlight:before,
.e-customStyle.e-bigger .e-calendar span.e-icons.highlight:before {
    top: -3px;
}

e-customStyle .e-selected span.e-icons.highlight:before {
    color: #fff;
}

.e-customStyle span.e-icons.highlight,
.e-customStyle .e-calendar .e-content span.special,
.e-customStyle .e-calendar .e-content span.daycell {
    font-weight: bold;
}

.e-customStyle span.special.e-day.birthday {
    color: orangered;
}

.e-customStyle span.special.e-day.farewell {
    color: rgba(0, 0, 255, 1);
}

.e-customStyle span.special.e-day.vacation {
    color: rgba(60, 118, 61, 1);
}
