   .e-query-builder .e-control-wrapper.e-slider-container.e-horizontal {
        height: 0;
    }

    #ruleContent {
        border: 1px solid #d3d3d3;
        width: 100%;
        height: 500px;
        overflow: auto;
    }
/* custom code start */
    #qbproperypane td:first-child {
        width: auto;
    }

    #qbproperypane div.row,
    #qbproperypane div.e-radio-wrapper {
        padding-bottom: 10px;
    }

    table#qbproperypane {
        width:100%;
        margin:10px;
    }

    #qbproperypane .row {
        margin-left: 0;
    }

    @media only screen and (max-width: 700px) {
        .e-query-preview .copy-tooltip {
           display: block !important;
        }
    }
/* custom code end */
	.highcontrast textarea#ruleContent {
	  background-color: #000;
	}

    .fluent2-dark .e-query-preview .e-icons.copycode,
    .fluent2-highcontrast .e-query-preview .e-icons.copycode {
        background-color: black;
        padding-bottom: 3px;
        color: white;
    }