.dropArea {
    min-height: 50px;
    padding-top: 15px;
    position: relative;
}

.drop {
    padding: 3% 30% 3%;
    display: inherit;
    border: 1px dashed #c3c3cc;
}

.template_wrapper {
    max-width: 400px;
    margin: auto;
}

.template_wrapper .file-name-span {
    font-size:  14px;
}


.e-bigger .template_wrapper .file-name-span {
    font-size:  15px;
}

.template_wrapper .e-file-select-wrap {
    display: none;
}

.template_wrapper .e-upload {
    float: none;
    border: none;
}

.template_wrapper .ul-element {
    list-style: none;
    width: 100%;
    padding-left: 0;
}

.template_wrapper .file-name {
    padding: 8px 6px 8px 0;
    font-size: 13px;
    width: 46%;
    display: inline-block;
    position: relative;
    top: 4px;
}

.property-section.template-panel .property-panel-section {
    position: relative;
    padding-left: 30px;
}
.e-bigger .property-section.template-panel .property-panel-section {
     padding-left: 35px;
}
.template_wrapper .file-size {
    padding: 4px;
    font-size: 13px;
    width: 18%;
    display: inline-block;
    position: relative;
}

.template_wrapper .file-lists {
    border: 1px solid lightgray;
    padding: 0 6px 0 14px;
    margin-top: 15px;
    position: relative;
    background: rgba(0, 0, 0, 0.04);
}

.template_wrapper .file-size,.template_wrapper .file-name {
    font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap
}
.template_wrapper span.progress-bar-container {
    display: block;
    float: right;
    height: 20px;
    right: 13%;
    top: 14px;
    position: relative;
    width: 20%;
}

.template_wrapper .progress{
    width: 100%;
    height: 15px;
    -webkit-appearance: none;
}

.template_wrapper .close-icon-container
{
    cursor: pointer;
    font-size: 11px;
    height: 26px;
    margin: 0 12px 0 22px;
    padding: 0;
    position: absolute;
    right: 0;
    width: 26px;
    top: 6px;
}

.template_wrapper .close-icon-container.e-icons::before {
    left: 7px;
    position: inherit;
    top: 7px;
    content: '\e7e7';
}

.bootstrap4 .template_wrapper .close-icon-container.e-icons::before {
    left: 7px;
    position: inherit;
    top: 7px;
    content: '\e745';
}
.tailwind .template_wrapper .close-icon-container.e-icons::before,
.tailwind-dark .template_wrapper .close-icon-container.e-icons::before {
    content: '\e7e7';
}

.fabric .template_wrapper .close-icon-container.e-icons::before,
.fabric-dark .template_wrapper .close-icon-container.e-icons::before,
.highcontrast .template_wrapper .close-icon-container.e-icons::before {
    content: '\e953';
}

.material .template_wrapper .close-icon-container.e-icons::before,
.material-dark .template_wrapper .close-icon-container.e-icons::before {
    content: '\e932';
}

.bootstrap .close-icon-container.e-icons::before,
.bootstrap-dark .close-icon-container.e-icons::before {
    content: '\e7fc';
}

.bootstrap5 .template_wrapper .close-icon-container.e-icons::before,
.bootstrap5-dark .template_wrapper .close-icon-container.e-icons::before {
    content: '\e7e7';
}

.bootstrap4 .template_wrapper .file-lists {
    background: #fff;
}


.template_wrapper .close-icon-container.delete-icon::before {
    content: '\e94a';
}

.bootstrap4 .template_wrapper .close-icon-container.delete-icon::before {
    content: '\e773';
}

.tailwind .template_wrapper .close-icon-container.delete-icon::before,
.tailwind-dark .template_wrapper .close-icon-container.delete-icon::before {
    content: '\e820';
}

.bootstrap5 .template_wrapper .close-icon-container.delete-icon::before,
.bootstrap5-dark .template_wrapper .close-icon-container.delete-icon::before {
    content: '\e820';
}

.fabric .template_wrapper .close-icon-container.delete-icon::before,
.fabric-dark .template_wrapper .close-icon-container.delete-icon::before {
    content: '\e965';
}

.highcontrast .template_wrapper .close-icon-container.delete-icon::before {
    content: '\e965';
}

.tailwind .template_wrapper .close-icon-container.delete-icon {
    top: 10px;
}


.template_wrapper .close-icon-container:hover {
    background-color: rgba(0, 0, 0, 0.12);
    border-color: transparent;
    border-radius: 50%;
    box-shadow: 0 0 0 transparent;
}

.bootstrap4 .template_wrapper .close-icon-container:hover {
    background-color: #e9ecef;
    border-color: transparent;
    border-radius: 4px;
    box-shadow: 0 0 0 transparent;
}


.highcontrast .close-icon-container:hover {
    background-color: #ffd939;
    color: black;
}

.highcontrast .close-icon-container {
    color: #ffffff;
}

.template_wrapper .upload-success {
    color: #2bc700;
}

.template_wrapper .upload-fails {
    color: #f44336;
}

.template_wrapper progress::-webkit-progress-bar {
    border: 1px solid lightgrey;
    background-color: #ffffff;
    border-radius: 2px;
}
.bootstrap4 .template_wrapper progress::-webkit-progress-value {
    background-color: #007bff;
    border-radius: 4px; 
}

#dropArea progress {
    border: 1px solid lightgrey;
    background-color: #ffffff;
    border-radius: 2px;
}
.bootstrap4 #dropArea progress {
    background-color: #dee2e6;
    border-radius: 4px;
}

.highcontrast #dropArea progress {
    background-color: #000000;
}
.highcontrast .template_wrapper progress::-webkit-progress-bar {
    background-color: #000000;
}
.material .template_wrapper progress::-webkit-progress-value {
    border-radius: 2px; 
    background-color: #ff4081;
}
.bootstrap .template_wrapper progress::-webkit-progress-value {
    border-radius: 2px; 
    background-color: #1f496e;
}
.fabric .template_wrapper progress::-webkit-progress-value {
    background-color: #1763ff;
    border-radius: 2px; 
    top: -66px;
}
.highcontrast .template_wrapper progress::-webkit-progress-value {
    background-color: #ffd939;
    border-radius: 2px; 
}
.material .template_wrapper progress::-moz-progress-bar {
    border-radius: 2px; 
    background-color: #ff4081;
}
.bootstrap .template_wrapper progress::-moz-progress-bar {
    border-radius: 2px; 
    background-color: #1f496e;
}
.fabric .template_wrapper progress::-moz-progress-bar {
    background-color: #1763ff;
    border-radius: 2px; 
    top: -66px;
}
.highcontrast .template_wrapper progress::-moz-progress-bar {
    background-color: #ffd939;
    border-radius: 2px; 
}
.material .template_wrapper span a {
    color:#ff4081;
}
.fabric .template_wrapper span a {
    color: #1763ff;
}
.bootstrap .template_wrapper span a {
    color: #1f496e;
}
.highcontrast .template_wrapper span a,
.highcontrast .template_wrapper span a:hover {
    color: #ffd939;
}
.material3-dark .template_wrapper span a,
.material-dark .template_wrapper span a {
    color:#56a4fd;
}
.fabric-dark .template_wrapper span a {
    color:#0074cc;
}
.bootstrap-dark .template_wrapper span a {
    color:#0070f0;
}
.bootstrap5-dark .template_wrapper span a {
    color:#0d6efd;
}
.tailwind-dark .template_wrapper span a {
    color:#22d3ee;
}
.custom-panel {
    padding-top: 25px;
}
.fluent .template_wrapper .close-icon-container.delete-icon::before,
.fluent-dark .template_wrapper .close-icon-container.delete-icon::before {
    content: '\e820';
}