.form-group {
 padding-top: 11px; 
 }
 
 .form-group .e-upload.e-keyboard {
	display: none;
 }
 .form-group .address-field{
    resize: none;
}
.control_wrapper.uploader-form {
    max-width: 500px;
    margin: auto;
    border: 0.5px solid #BEBEBE;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.36);
    padding: 1% 4% 2%;
    background: #f9f9f9;
}
.highcontrast .control_wrapper.uploader-form,
.material-dark .control_wrapper.uploader-form,
.fabric-dark .control_wrapper.uploader-form,
.bootstrap-dark .control_wrapper.uploader-form,
.bootstrap5-dark .control_wrapper.uploader-form {
    background: #393939;
}
.tailwind-dark .control_wrapper.uploader-form { 
    background: #6c757d;
}

.e-float-input.upload-area {
  width: 75%;
}

.e-bigger.fabric .e-float-input.upload-area, .e-bigger.highcontrast .e-float-input.upload-area {
  width: 72%;
  display: block;
}
.e-float-input.upload-area button#browse{
    float: right;
	margin-right: -105px;
	margin-top: -32px;
}
.material-dark .e-float-input.upload-area button#browse,
.material .e-float-input.upload-area button#browse {
    float: right;
	margin-right: -106px;
	margin-top: -26px;
}
.e-bigger.fluent-dark .e-float-input.upload-area button#browse,
.e-bigger.fluent .e-float-input.upload-area button#browse,
.e-bigger.bootstrap5-dark .e-float-input.upload-area button#browse,
.e-bigger.bootstrap5 .e-float-input.upload-area button#browse,
.e-bigger.tailwind-dark .e-float-input.upload-area button#browse,
.e-bigger.tailwind .e-float-input.upload-area button#browse{
    margin-right: -120px;
	margin-top: -40px;
}

.e-bigger.material .e-float-input.upload-area button#browse,
.e-bigger.material-dark .e-float-input.upload-area button#browse {
    margin-top: -36px;
    margin-right: -106px;
}
.e-bigger.bootstrap4 .e-float-input.upload-area button#browse{
    margin-top: -38px;
}

.fabric .e-float-input.upload-area button#browse,
.bootstrap4 .e-float-input.upload-area button#browse, 
.highcontrast .e-float-input.upload-area button#browse {
    float: right;
	margin-right: -106px;
	margin-top: -32px;
}
.e-bigger.fabric-dark .e-float-input.upload-area button#browse,
.e-bigger.fabric .e-float-input.upload-area button#browse,
.e-bigger.highcontrast .e-float-input.upload-area button#browse {
	margin-right: -120px;
    margin-top: -40px;
}
.bootstrap-dark .e-float-input.upload-area button#browse,
.bootstrap .e-float-input.upload-area button#browse {
    float: right;
	margin-right: -106px;
	margin-top: -35px;
}
.e-bigger.bootstrap-dark .e-float-input.upload-area button#browse,
.e-bigger.bootstrap .e-float-input.upload-area button#browse {
	margin-top: -40px;
}

.form-title {
    text-align: center;
}

.submitBtn .desc {
    margin: 2% 23% 0% 18%;
}
@media only screen and (max-width: 500px) {
    .submitBtn .desc {
        margin: 12px;
    }
    .upload-area, .e-bigger .upload-area {
        width: 60%;
    }
}

.submitBtn {
    text-align: center;
	position: relative;
}

.form-group #mobile-no input[type=number]::-webkit-inner-spin-button,
.form-group #mobile-no input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.fluent-dark #control_wrapper { 
    background: #212529;
}
.fluent .e-bigger .e-dialog .e-dlg-header-content,
.fluent-dark .e-bigger .e-dialog .e-dlg-header-content,
.tailwind .e-bigger .e-dialog .e-dlg-header-content,
.tailwind-dark .e-bigger .e-dialog .e-dlg-header-content{
    padding-bottom: 2%;
}
.material-dark .e-bigger .e-dialog .e-dlg-header-content,
.material .e-bigger .e-dialog .e-dlg-header-content{
    padding-bottom: 3%;
}   
