#template {
    margin: 0 auto;
    width: 300px !important;
    padding-top: 15px;
}

#employees_popup .header .columnHeader {
    margin-left: 17px;
}

#employees_popup .header {
    font-weight: 600;
    color: rgba(0, 0, 0, .54);
    height: 48px;
    padding: 15px 0 0 16px;
    font-size: 16px;
    font-family: "Roboto";
    background-color: #f5f5f5;
}

.fabric #employees_popup .header {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    color: #0078d7;
    font-weight: 400;
}

.highcontrast #employees_popup .header {
    color: #fff;
    background-color: #000;
}

.bootstrap4 #employees_popup .header {
    color: #6c757d;
}

.fluent-dark #employees_popup .header {
    background: #252423;
    color: #2899F5;
}

.bootstrap5-dark #employees_popup .header {
    background: #343A40;
    color: #7B848D;
}

.fluent #employees_popup .header{
     color: #2899F5;
}

.tailwind-dark #employees_popup .header {
    background: #374151;
    color: rgb(255, 255, 255);
}

.material3-dark #employees_popup .header,
.material-dark #employees_popup .header {
    background: rgb(66, 66, 66);
    color: rgb(255, 255, 255);
}

.fabric-dark #employees_popup .header {
    background: rgb(40, 39, 39);
    color: rgb(255, 255, 255);
}

.bootstrap-dark #employees_popup .header {
    background: rgb(49, 49, 49);
    color: rgb(255, 255, 255);
}

#employees_popup .ename {
    display: block !important;
    opacity: .87;
    font-size: 16px;
    margin-top: 6px;
}

#employees_popup .job {
    opacity: .54;
    font-size: 14px;
    margin-top: -15px;
    margin-bottom: 9px;
}

#employees_popup .empImage {
    margin: 6px 16px;
    float: left;
    width: 50px;
    height: 50px;
}

.e-bigger #employees_popup.e-popup .e-list-item * {
    display: block;
    text-indent: 0;
}

.e-bigger #employees_popup .e-dropdownbase .e-list-item {
    line-height: 42px;
    height: 80px;
}

.e-bigger #employees_popup.e-popup .empImage {
    margin: 10px 16px;
}

.e-bigger #template .e-input-group .e-input-value {
    padding: 2px;
}

.bootstrap4 #employees_popup .empImage {
    margin: 4px 16px;
}

.bootstrap4 #employees_popup .job {
    margin-top: 0;
}

.e-bigger.bootstrap4 #employees_popup .job {
    margin-top: -18px;
}

.e-bigger.bootstrap4 #employees_popup .ename {
    margin-top: 4px;
}