.daterangepicker-control-section {
    max-width: 246px;
    margin: 30px auto;
    padding-top: 50px;
}

.daterangepicker-control-section.format {
    max-width: 350px;
}

#right-sidebar #format{
    padding-bottom: 15px;
    width: 200px;
    left: 20px;
    top: 40px;
}

#control-content #format{
    padding-bottom: 15px;
    width: 200px;
    left: 200px;
    top: 65px;
}
