.e-pivotview {
    width: 100%;
    height: 100%;
}

.e-apply-icon::before {
    content: '\e728';
}

.valuecls {
    margin-top: 13px;
}

.material .valuecls {
    margin-top: 8px;
}

.pivotgrid-property-section .e-multiselect.e-input-group {
    padding: 0px !important;
    width: 98% !important;
}

.material .pivotgrid-property-section .e-multiselect.e-input-group {
    width: 100% !important;
}

.pivotgrid-property-section table tr td:first-child {
    width: 20%;
}
  
.pivotgrid-property-section {
    overflow: auto;
}