.fabric .sb-reset-icon:before {
    content: '\e7fc';
}

.fabric .e-samplestatus.new,
.fabric .e-samplestatus.update {

    margin-top: 6px;
}

.fabric .e-samplestatus.new.tree,
.fabric .e-samplestatus.update.tree,
.fabric .e-samplestatus.preview.tree {
    height: 22px;
    margin-top: 4px;
}