/*fluent2-highcontrast*/

.fluent2-highcontrast .sb-content,
.fluent2-highcontrast textarea#ruleContent{
    background: #1C1B1F;
}
.fluent2-highcontrast .sb-home{
    color:#ffffff
}
.fluent2-highcontrast .sb-left-pane .e-listview .e-list-item.e-active:hover {
    color: #000;
}
.fluent2-highcontrast .sb-left-pane .e-treeview .e-list-item.e-hover>.e-text-content .e-list-text {
    color: #000;
}
.fluent2-highcontrast .sb-content-tab .e-content.sb-sample-content-area {
	background: transparent;
}
.fluent2-highcontrast .sb-content-tab .e-tab-header.e-horizontal-bottom {
    border-radius: 0 0 12px 12px;
}
.fluent2-highcontrast .sb-content-tab .e-tab-header.sb-content-tab-header {
    border-radius: 12px 12px 0 0;
}
.fluent2-highcontrast #sb-content {
    border-radius:12px;
}
body.fluent2-highcontrast,
.fluent2-highcontrast #sb-header-text,
.fluent2-highcontrast .control-name,
.fluent2-highcontrast .sample-navigation,
.fluent2-highcontrast .sb-icon-Popout,
.fluent2-highcontrast .sb-switch-popup a {
    color: #FFFFFF;
}
.fluent2-highcontrast .sb-content-tab > .e-tab > .e-tab-header > .e-items.e-toolbar-items > .e-toolbar-item:hover > .e-tab-wrap > .e-text-wrap > .e-tab-text,
.fluent2-highcontrast .sb-source-section .e-tab .e-tab-header .e-toolbar-item.e-active .e-tab-text,
.fluent2-highcontrast .sb-source-section .e-tab .e-tab-header .e-toolbar-item:hover .e-tab-text {
    color: #1aebff;
}
.fluent2-highcontrast .sb-header,
.fluent2-highcontrast .sb-search-result .e-list-item {
    background:  linear-gradient(0deg, rgba(208, 188, 255, 0.08), rgba(208, 188, 255, 0.08)), #1C1B1F;
}
.fluent2-highcontrast .sb-content-tab > .e-tab.e-nested > .e-tab-header > .e-items.e-toolbar-items > .e-indicator
{
   background: #1aebff;
}
.fluent2-highcontrast #left-sidebar {
    color: #c2c0c0;
    background:  #2B2831;
}

.fluent2-highcontrast #left-sidebar {
    border: none;
}
.fluent2-highcontrast .sb-mobile-right-pane {
    background:  #2B2831;
}
.fluent2-highcontrast .hljs-string,
.fluent2-highcontrast .hljs-title,
.fluent2-highcontrast .hljs-section,
.fluent2-highcontrast .hljs-attribute,
.fluent2-highcontrast .hljs-literal,
.fluent2-highcontrast .hljs-template-tag,
.fluent2-highcontrast .hljs-template-variable,
.fluent2-highcontrast .hljs-type,
.fluent2-highcontrast .hljs-addition,
.fluent2-highcontrast .e-icons.back-icon,
.fluent2-highcontrast .sb-plnr-section,
.fluent2-highcontrast .sb-bread-crumb,
.fluent2-highcontrast .sb-component-name,
.fluent2-highcontrast .sb-icon-Home,
.fluent2-highcontrast .description-header,
.fluent2-highcontrast .sb-setting-translate,
.fluent2-highcontrast .sample-navigation>button:hover,
.fluent2-highcontrast .sb-switch-popup li:first-child,
.fluent2-highcontrast .sb-left-pane .e-listview .e-list-group-item,
.fluent2-highcontrast .sb-theme-popup li.active .sb-theme-select,
.fluent2-highcontrast .sb-theme-popup li:hover.active .sb-theme-select
{
    color: #1aebff;
}
.fluent2-highcontrast .sb-theme-popup {
    border: unset;
}
.fluent2-highcontrast .sb-icon-Hamburger,
.fluent2-highcontrast .sb-footer-links a,
.fluent2-highcontrast .description-section a
{
    color:#1aebff;
}
.fluent2-highcontrast .sb-icon-Hamburger:active{
color:white;
}
.fluent2-highcontrast .sb-content-section,
.fluent2-highcontrast .sb-switch-popup,
.fluent2-highcontrast .sb-content-tab-header,
.fluent2-highcontrast .sb-content-section .sb-content-tab-header {
    background:  #1C1B1F;
    border-color: rgba(147,143,153);
}
.fluent2-highcontrast .sample-navigation>button:hover,
.fluent2-highcontrast .sb-plnr-section,
.fluent2-highcontrast .sb-icon-Popout:hover{
   color: #1aebff;
}
.fluent2-highcontrast .sb-content-tab > .e-tab.e-nested > .e-tab-header > .e-items.e-toolbar-items > .e-toolbar-item > .e-tab-wrap > .e-text-wrap > .e-tab-text,
.fluent2-highcontrast .sb-content-tab > .e-tab.e-nested > .e-tab-header > .e-items.e-toolbar-items > .e-toolbar-item > .e-tab-wrap > .e-text-wrap > .e-tab-text {
   color: #ffffff;
}
.fluent2-highcontrast code,
.fluent2-highcontrast .sb-switch-popup,
.fluent2-highcontrast .sb-setting-popup,
.fluent2-highcontrast .sb-search-result,
.fluent2-highcontrast .sb-src-code,
.fluent2-highcontrast .sb-api-section,
.fluent2-highcontrast .sb-theme-popup,
.fluent2-highcontrast .copy-tooltip,
.fluent2-highcontrast .e-icons.copycode,
.fluent2-highcontrast #search-input-wrapper input,
.fluent2-highcontrast #search-input-wrapper input::placeholder {
    color: #ffffff;
    background:  #2B2831;
}
.fluent2-highcontrast .sb-search-btn:hover,
.fluent2-highcontrast .sb-search-btn.active,
.fluent2-highcontrast .sb-setting-btn:hover,
.fluent2-highcontrast .sb-setting-btn.active,
.fluent2-highcontrast .sb-switch-popup li:hover,
.fluent2-highcontrast .theme-wrapper:hover,
.fluent2-highcontrast .theme-wrapper.active,
.fluent2-highcontrast .sb-theme-popup li:hover,
.fluent2-highcontrast .sb-search-result .e-list-item:hover,
.fluent2-highcontrast .sb-left-pane .e-listview .e-list-item:hover {
    background-color: rgba(255, 255, 255, 0.12);
}
.fluent2-highcontrast .setting-responsive .sb-responsive-items {
    width: 104px;
    background-color: #363636;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
    border: 1px solid transparent;
    display: table-cell;
    cursor: pointer;
}
.fluent2-highcontrast .setting-responsive .sb-responsive-items.active {
    background-color: #1aebff;
    color: black;
}
.fluent2-highcontrast .sb-left-pane .e-listview .e-list-item.e-active,
.fluent2-highcontrast .cont {
    background-color:#1aebff;
}
.fluent2-highcontrast .sb-left-pane .e-listview .e-list-item:hover{
    color:#1aebff;
}

.fluent2-highcontrast .sb-left-pane {
    background:  linear-gradient(0deg, rgba(208, 188, 255, 0.08), rgba(208, 188, 255, 0.08)), #1C1B1F;
}
.fluent2-highcontrast .sb-body-overlay{
    background:  linear-gradient(0deg, rgba(208, 188, 255, 0.08), rgba(208, 188, 255, 0.08)), #1C1B1F;
}

.fluent2-highcontrast .sb-mobile-left-pane{
    background:  linear-gradient(0deg, rgba(208, 188, 255, 0.08), rgba(208, 188, 255, 0.08)), #1C1B1F;
}
.fluent2-highcontrast .sb-mobilefooter>.e-btn.e-flat {
    background:  #2B2831;
    color: #fff;
}
.fluent2-highcontrast .sb-mobilefooter>.e-btn.e-flat:hover {
    color: #1aebff;
}
.fluent2-highcontrast .sb-left-pane .e-treeview .e-list-item.e-hover > .e-fullrow {
    background-color: #1aebff;
}
.fluent2-highcontrast .sb-header-text-left,.fluent2-highcontrast .sb-header-text-right,.fluent2-highcontrast .sb-reset-icon {
    color:#ffffff;
}
.fluent2-highcontrast .e-samplestatus.new.tree, .fluent2-highcontrast .e-samplestatus.update.tree,.fluent2-highcontrast .e-samplestatus.preview.tree {
    margin: 4px 0px 0px 0px;
    height: 22px;
}

.fluent2-highcontrast .e-samplestatus.new,.fluent2-highcontrast .e-samplestatus.update,.fluent2-highcontrast .e-samplestatus.preview{
    margin: 5px 8px 0px 0px;
    height: 22px;
}
.fluent2-highcontrast .sb-theme-popup li:hover .sb-theme-select {
    color: transparent;
}
.fluent2-highcontrast .sb-search-result .e-list-group-item {
    background-color: #2B2831 !important;
}
.fluent2-highcontrast .sb-search-result .e-list-group-item {
    color: #1aebff;
}
.fluent2-highcontrast .sb-content-tab.e-tab>.e-nested>.e-tab-header>.e-items.e-toolbar-items>.e-indicator {
    background: #1aebff;
}
.fluent2-highcontrast .sb-content-tab.e-tab>.e-nested>.e-tab-header>.e-items.e-toolbar-items>.e-toolbar-item.e-active>.e-tab-wrap>.e-text-wrap>.e-tab-text, .fluent2-highcontrast .sb-content-tab.e-tab>.e-nested>.e-tab-header>.e-items.e-toolbar-items>.e-toolbar-item:hover>.e-tab-wrap>.e-text-wrap>.e-tab-text {
    color: #1aebff !important;
}
.fluent2-highcontrast .sb-content-tab.e-tab>.e-nested>.e-tab-header>.e-items.e-toolbar-items>.e-toolbar-item>.e-tab-wrap>.e-text-wrap>.e-tab-text {
    color: #fff;
}
.fluent2-highcontrast .sb-badge {
    padding: 2px 6px;
}
.fluent2-highcontrast .copycode::before {
    content: '\e77c';
}
.fluent2-highcontrast .sb-reset-icon:before {
    content: '\e7e7';
}

.fluent2-highcontrast.e-bigger .e-samplestatus.new,
.fluent2-highcontrast.e-bigger .e-samplestatus.update,
.fluent2-highcontrast.e-bigger .e-samplestatus.preview {
    margin: 9px 8px 0px 0px;
    padding: 0 6px;
}

.fluent2-highcontrast.e-bigger .e-listview .e-icon-wrapper .e-list-text,
.fluent2-highcontrast.e-bigger .sb-control-navigation .e-treeview .tree-text {
    width: calc(100% - 70px);
}
