.material3 .sb-reset-icon:before {
    content: '\e7e7';
}

.material3 .sb-content-tab.e-tab>.e-nested>.e-tab-header>.e-items.e-toolbar-items>.e-toolbar-item.e-active>.e-tab-wrap>.e-text-wrap>.e-tab-text,
.material3 .sb-content-tab.e-tab>.e-nested>.e-tab-header>.e-items.e-toolbar-items>.e-toolbar-item:hover>.e-tab-wrap>.e-text-wrap>.e-tab-text,
.material3 .sb-source-section .e-tab .e-tab-header .e-toolbar-item.e-active .e-tab-text,
.material3 .sb-source-section .e-tab .e-tab-header .e-toolbar-item:hover .e-tab-text,
.material3 .control-name,
.material3 .sb-icon-Hamburger,
.material3 .sb-footer-links a,
.material3 .sb-plnr-section,
.material3 .sb-plnr-section:hover,
.material3 .sb-open-new-wrapper a:hover,
.material3 .sample-navigation>button:hover {
    color: #6750a4 !important;
}

.material3 .sb-left-pane .e-listview .e-list-item.e-hover,
.material3 .sb-left-pane .e-listview .e-list-item.e-active,
.material3 .sb-left-pane .e-treeview .e-list-item.e-hover>.e-fullrow {
    background-color: #eaddff;
}

.material3 .sb-content-tab.e-tab>.e-nested>.e-tab-header>.e-items.e-toolbar-items>.e-indicator {
    background: #6750a4;
}

.material3 #left-sidebar {
    background: #fff;
}

.material3 .sb-content-tab .e-content.sb-sample-content-area {
    background: transparent;
}

.material3 .sb-content-tab .e-tab-header.e-horizontal-bottom {
    border-radius: 0 0 12px 12px;
}

.material3 .sb-content-tab .e-tab-header.sb-content-tab-header {
    border-radius: 12px 12px 0 0;
}

.material3 #sb-content {
    border-radius: 12px;
}

.material3 .e-samplestatus.new,
.material3 .e-samplestatus.new.tree,
.material3 .e-samplestatus.New,
.material3 .e-samplestatus.New.tree,
.material3 .e-samplestatus.update,
.material3 .e-samplestatus.update.tree,
.material3 .e-samplestatus.Update,
.material3 .e-samplestatus.Update.tree,
.material3 .e-samplestatus.preview,
.material3 .e-samplestatus.preview.tree,
.material3 .e-samplestatus.Preview,
.material3 .e-samplestatus.Preview.tree {
    margin: auto 0px;
}

.material3.e-bigger .e-badge.sb-badge.e-samplestatus.New,
.material3.e-bigger .e-badge.sb-badge.e-samplestatus.new,
.material3.e-bigger .e-badge.sb-badge.e-samplestatus.Update,
.material3.e-bigger .e-badge.sb-badge.e-samplestatus.update,
.material3.e-bigger .e-badge.sb-badge.e-samplestatus.Preview,
.material3.e-bigger .e-badge.sb-badge.e-samplestatus.preview {
    padding: 6px 8px;
    font-size: 10px;
    border-radius: 2px;
    height: 24px;
    margin: 2px 0px !important;
}

.material3 .copycode::before {
    content: '\e77c';
    font-size: 25px;
}
