#diagram_control .chart-title {
  font-size: 16px;
}

#diagram_control .chart-title,
#diagram_control .chart-subtitle {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  font-weight: 400;
  letter-spacing: 0.02em;
  line-height: 16px;
  color: #797979 !important;
}

.chart-value {
  color: #9d9d9d;
}

#diagram_control {
  background-color: white;
  height: 450px;
  width: auto;
}

#diagram_control .e-grid,
#diagram_control .e-grid .e-gridheader {
  border: none;
}

.pieChartHeader {
  margin-left: 20px;
  margin-top: 20px;
}

.diagram_border_cus {
  border: 1px solid transparent;
  background: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}

.diagram_chart {
  padding-left: 15px;
  padding-right: 15px;
}

#element_calander .e-input-group:not(.e-success):not(.e-warning):not(.e-error):not(.e-float-icon-left),
#element_calander .e-input-group.e-float-icon-left:not(.e-success):not(.e-warning):not(.e-error) .e-input-in-wrap,
#element_calander .e-input-group.e-control-wrapper:not(.e-success):not(.e-warning):not(.e-error):not(.e-float-icon-left) {
  border: none;
}

.diagram_border_cal {
  height: 30px;
  padding-left: 12px;
}

#custom-diagram .e-diagram-resize-handle.e-disabled {
  fill: #ced4da;
  opacity: 1;
  stroke: #fff;
  visibility: hidden;
}