#nav-rating-control {
    text-align: center;
    margin: 6% auto;
}
.fluent2-dark #default-rating-control {
    background-color: #1f1f1f;
    color: #fff
}
.fluent2-highcontrast #default-rating-control {
    background-color: #1C1B1F;
    color: #fff
}
