/**
* ej2 Menu styles
*/
#apiMenu {
    margin-top: 45px;
    text-align: center;
}

.menu-section .property-panel-content {
    padding: 0 10px 10px 0;
    overflow: auto;
}

.tailwind .menu-section .property-panel-content,
.tailwind-dark .menu-section .property-panel-content,
.fabric .menu-section .property-panel-content,
.fabric-dark .menu-section .property-panel-content {
    overflow: hidden;
}

.menu-section .property-panel-content .e-multiselect {
    padding: 0;
}
