/**
* ej2 Menu styles customization
*/
#hamburgerMenu .deviceLayout #menu {
    -ms-overflow-style: none;
    scrollbar-width: none;
    height: 363px;
}
#hamburgerMenu .deviceLayout #menu::-webkit-scrollbar {
    width: 0;
}

/**
* ej2 Menu styles
*/
#hamburgerMenu {
    text-align: center;
}

#hamburgerMenu #layoutcontainer:not(.deviceLayout) {
    margin-top: 45px;
}

#hamburgerMenu .deviceLayout {
    line-height: initial;
    border: 1px solid black;
    width: 285px;
    height: 505px;
    margin: auto;
    margin-bottom: 15px;
    border-radius: 28px;
    position: relative;
    background-image: linear-gradient(to top, #ffffff, #f5f5f5);
}

.fluent-dark .e-menu-wrapper.e-hamburger.e-lib.e-keyboard {
    background-color: black;
}

.fluent-dark .e-menu-wrapper.e-lib.e-keyboard {
    background-color: black;
}

.material3-dark .e-menu-wrapper.e-hamburger.e-lib.e-keyboard {
    background: #1c1b1f;
    border-radius: 0;
}

#hamburgerMenu .deviceLayout.tabletview {
    width: 767px;
    z-index: 1;
}

#hamburgerMenu .deviceLayout .speaker {
    border: 1px solid black;
    border-radius: 5px;
    width: 20%;
    height: 5px;
    margin: 15px auto 0px auto;
    position: relative;
}

#hamburgerMenu .deviceLayout .outerButton {
    width: 30px;
    height: 30px;
    border: 1px solid black;
    border-radius: 50%;
    position: absolute;
    bottom: calc(0% + 10px);
    left: calc(50% - 15px);
}

#hamburgerMenu .deviceLayout .camera {
    position: absolute;
    left: calc(-15% - 10px);
    top: -100%;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid black;
}

#hamburgerMenu .deviceLayout .layout {
    border: 1px solid black;
    margin: 20px 13px 0px 13px;
}

#hamburgerMenu .layout #container {
    height: 405px;
    background-color: white;
    overflow: hidden;
}

#hamburgerMenu #header {
    width: 100%;
    background-color: #7b8cfb;
}
