 /**
    * ej2 Menu template styles
    */
 .template-menu-control {
     margin-top: 45px;
     text-align: center;
 }

 /**
    * Common customization 
    */
 .e-bigger .template-menu-control .e-menu-wrapper.e-control ul.e-ul .e-menu-item,
 .template-menu-control .e-menu-wrapper.e-control ul.e-ul .e-menu-item {
     display: flex;
     height: auto;
     padding: 0;
 }

 /**
    * Avatar customization
    */
 .e-bigger .template-menu-control .e-menu-wrapper ul .e-menu-item .e-avatar {
     background-size: auto;
     text-indent: 40px;
 }

 .template-menu-control .e-menu-wrapper ul .e-menu-item .e-avatar {
     background-color: inherit;
     background-position: 0;
     background-size: 25px;
     color: inherit;
     font-size: inherit;
     height: inherit;
     justify-content: left;
     margin: 0 10px;
     width: 100%;
     text-indent: 35px;
 }

 /**
    * Badge customization
    */
 .template-menu-control .e-menu-wrapper ul .e-menu-item ul li {
     padding: 0 10px;
 }

 .e-bigger .template-menu-control .e-menu-wrapper ul .e-menu-item ul li .e-badge {
     margin: 18px 0px 0px 10px;
 }

 .template-menu-control .e-menu-wrapper ul .e-menu-item ul li .e-badge {
     float: right;
     margin: 13px 0px 0px 10px;
 }

 .template-menu-control .e-menu-wrapper ul .e-menu-item ul li:hover {
     background-color: #eee;
 }

 .fabric .template-menu-control .e-menu-wrapper ul .e-menu-item ul li:hover {
     background-color: #eaeaea;
 }

 .bootstrap .template-menu-control .e-menu-wrapper ul .e-menu-item ul li:hover {
     background-color: #e6e6e6;
 }

 .highcontrast .template-menu-control .e-menu-wrapper ul .e-menu-item ul li:hover {
     background-color: #685708;
 }

 /**
    * Card customization
    */
 .e-bigger .template-menu-control .e-menu-wrapper ul.e-ul .e-menu-item .e-card {
     width: 320px;
 }

 .template-menu-control .e-menu-wrapper ul.e-ul .e-menu-item .e-card {
     width: 290px;
     font-size: inherit;
     cursor: default;
     background-color: inherit;
     border-color: transparent;
 }

 .template-menu-control .e-menu-wrapper ul.e-ul .e-menu-item .e-card .e-card-content {
     white-space: normal;
     color: inherit;
     padding-top: 0;
     text-align: justify;
     font-size: inherit;
 }

 .e-bigger .template-menu-control .e-menu-wrapper ul.e-ul .e-menu-item .e-card .cb-icons {
     width: 40px;
     font-size: 40px;
     height: 40px;
 }

 .template-menu-control .e-menu-wrapper ul.e-ul .e-menu-item .e-card .cb-icons {
     width: 30px;
     font-size: 30px;
     height: 30px;
 }

 .template-menu-control .e-menu-wrapper ul.e-ul .e-menu-item .e-card .e-card-btn {
     background-color: inherit;
 }