.control-wrapper.virtualization-multicolumn {
    margin: 0 auto;
    width: 250px;
}

@media screen and (max-width: 480px) {
    .control-wrapper.virtualization-multicolumn {
        width: 300px;
    }
}