.calendar-control-section {
    max-width: 300px;
    margin: 0 auto;
}

/* lable styles */
#date_label {
    margin-top: 20px;
    display: block;
    color: rgba(0, 0, 0, 0.58);
    font-weight: 500;
    margin-left: 5px;
}

body.fluent-dark #date_label,
body.bootstrap5-dark #date_label,
body.tailwind-dark #date_label,
body.material-dark #date_label,
body.material3-dark #date_label,
body.fabric-dark #date_label,
body.bootstrap-dark #date_label,
body.highcontrast #date_label {
    color: white;
} 