#multipleList {
    min-height: 100px;
    border: 1px solid #D7D7D7;
    width: 600px;
    font-size: 14px;
    padding: 8px;
    border-radius: 4px;
}
#mention_Multiplelist {
    margin: 0 auto;
    width: 600px;
}
#mention_Multiplelist #label {
    font-size: 15px;
    font-weight: 600;
}
div#multipleList[placeholder]:empty:before {
    content: attr(placeholder);
    color: #555;
}

@media screen and (max-width: 1010px) {
    #multipleList,
    #mention_Multiplelist, #mention_multiplelist table{
        width: 100%;
    }
}
