.eventarea {
    height: 245px;
    overflow: auto
}

.EventLog {
    word-break: normal;
}

.evtbtn {
    padding-bottom: 10px
}

#EventLog b {
    color:#018607;
    }
    .fluent-dark .e-kanban #EventLog b, .bootstrap5-dark .e-kanban #EventLog b,.bootstrap5\.3-dark .e-kanban #EventLog b, .tailwind-dark .e-kanban #EventLog b, .material-dark .e-kanban #EventLog b, .fabric-dark .e-kanban #EventLog b, .bootstrap-dark .e-kanban #EventLog b, .highcontrast .e-kanban #EventLog b, .material3-dark .e-kanban #EventLog b {
        color:#21A32E;
}

hr {
    margin: 1px 10px 1px 0px;
    border-top: 1px solid #eee;
}