#wipValidationProperty .property-panel-content .e-constraint-table {
    width: 100%
}

#wipValidationProperty .property-panel-content .e-constraint-label {
    width: 40%
}

#wipValidationProperty .property-panel-content .e-validate {
    padding-top: 13px;
    text-align: center;
}

#wipValidationProperty .property-panel-content td {
    padding-top: 10px;
}

#wipValidationProperty .property-panel-header {
    padding-bottom: 0px;
}