.inplace-control-section.default_layout .control_wrapper {
    width: 100%;
    max-width: 400px;
    margin: auto;
}

.inplace-control-section.default_layout .control-wrapper {
    width: 100%;
}

.inplace-control-section.default_layout .control_wrapper .control-center {
    text-align: center;
}

.inplace-control-section.default_layout .e-inplaceeditor {
    height: auto;
}

.inplace-control-section.default_layout .control_wrapper table td {
    width: 200px;
    height: 100px;
}

.inplace-control-section.default_layout .control_wrapper table td .control-label {
    margin-bottom: 0px;
}

#defaultProperty table td {
    width: 50%;
}

@media (max-width: 1200px) {
    .inplace-control-section.default_layout  {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .inplace-control-section.default_layout .control_wrapper table tr td:nth-child(1) {
        width: 130px;
    }

    .inplace-control-section.default_layout .control_wrapper table tr td:nth-child(2) {
        width: 200px;
    }
}

#defaultProperty .property-panel-table div {
    padding-left: 10px;
    padding-top: 10px;
}

.inplace-control-section.default_layout .e-inplaceeditor .e-editable-component .e-clear-icon-hide,
.e-inplaceeditor-tip .e-editable-component .e-input-group .e-clear-icon.e-clear-icon-hide {
    display: block;
    visibility: hidden;
}

.inplace-overview .property-panel-content {
    min-height: 0px;
    overflow: hidden;
}