.inplace-control-section.pickers-layout .control_wrapper {
    margin: auto;
    max-width: 400px;
}

.inplace-control-section.pickers-layout .control_wrapper table {
    margin: auto;
}

.inplace-control-section.pickers-layout .control_wrapper table td {
    width: 200px;
    height: 100px;
}

.inplace-control-section.pickers-layout .control_wrapper table td .control-label {
    margin-bottom: 0px;
}

#pickerProperty table td {
    width: 50%;
}

#pickerProperty .property-panel-table div {
    padding-left: 10px;
    padding-top: 10px;
}

.e-inplaceeditor-tip .e-editable-component .e-input-group .e-clear-icon.e-clear-icon-hide,
.inplace-control-section.pickers-layout .e-inplaceeditor .e-editable-component .e-clear-icon-hide {
display: block;
visibility: hidden;
}