.e-kanban .e-prepare,
.e-kanban .e-price {
    text-align: right;
}

.e-kanban .e-card table {
    table-layout: fixed;
}

.e-kanban .e-time {
    display: inline-flex;
}

.e-kanban .e-kanban-date {
    padding-left: 4px;
}

.e-kanban .e-size {
    color: #b8860b
}

.e-kanban .e-date {
    display: contents;
}

.e-kanban .e-mins {
    padding-left: 3px;
}

.e-kanban .e-clock {
    padding-top: 2px;
}

.e-kanban .e-clock::before {
    content: '\e20c';
    color: #ffa500;
    font-size: 10px;
}

.e-kanban .e-done::before {
    content: '\ea84';
    color: #008000;
    font-size: 16px;
}

.e-kanban .e-label {
    width: 90px;
}

.fabric .e-kanban .e-clock::before {
    content: '\e97f';
}

.bootstrap .e-kanban .e-clock::before {
    content: '\e93e';
}

.bootstrap4 .e-kanban .e-clock::before {
    content: '\e7c7';
}

.bootstrap4 .e-kanban .e-done::before {
    content: '\e7d9';
}

.highcontrast .e-kanban .e-clock::before {
    content: '\e97f';
}

.e-kanban .card-template-wrap {
    line-height: normal;
    font-size: 12px;
    width: 100%;
}

.e-kanban .e-card .e-emoji {
    color: white;
    font-size: 1.2em;
}

.e-kanban .card-template-wrap td {
    background: none !important;
    border: none !important;
    height: auto !important;
    line-height: 1.6;
}

.e-kanban .e-image img {
    background: #ececec;
    border-radius: 50%;
    width: 45px;
    height: 45px;
}

.e-kanban .e-image {
    padding-right: 5px;
    padding-left: 10px;
}

.e-kanban .card-header {
    font-size: 15px;
    font-weight: 500;
    display: inline-block;
}

.e-kanban .e-card .card-content {
    display: flex;
    justify-content: space-between;
}

.e-kanban .e-description {
    padding-top: 5px;
    padding-bottom: 10px;
}

.e-kanban .e-card .e-done {
    padding-top: 5px;
    padding-bottom: 10px;
    position: absolute;
    right: 15px;
}

.e-kanban .e-readyText {
    color: #008000;
}

.e-kanban .e-preparingText {
    color: #9ACD32;
    animation: blinker 1.5s linear infinite;
}

.e-kanban .e-deliveredText {
    padding-top: 5px;
    color: #ff0000;
}

.e-kanban-dialog .e-kanban-form-wrapper table .e-label {
    padding-right: 15px;
}

.e-kanban-dialog .e-kanban-form-wrapper table .e-label,
.e-kanban-dialog .e-kanban-form-container table .e-label {
    width: 80px;

}

@keyframes blinker {
    50% {
        opacity: 0.5;
    }
}

.e-input-group.e-control-wrapper.e-multi-line-input{
    width: 100% !important;
}