#edit_dashboard .template{
    height: 100%;
    width: 100%;
}

#edit_target #dialogBtn {
    display: none;
}

#edit_target .dialog-text {
    height: 35px;
    border: 1px solid #80808029;
    vertical-align: middle;
    line-height: 35px;
    border-radius: 4px;
    padding-left: 12px;
    margin-bottom: 5%;
    cursor: pointer;
}

@media (max-width: 650px) {
    #togglebtn{
        width: 90px !important;
    }
}

#edit_target .add-widget-button {
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 15px;
}

body.fluent.e-bigger #edit_target .e-btn.e-primary,  body.fluent-dark.e-bigger #edit_target .e-btn.e-primary{
    width : 100px !important;
    margin: -8px;
}

#edit_dashboard.e-dashboardlayout.e-control .e-panel:hover span {
    display: block;
}

#edit_dashboard.e-dashboardlayout.e-control .e-panel .e-panel-container .e-panel-header {
    height: 35px;
    padding: 0 15px 0 15px;
    border-bottom: 2px solid #e6e9ed !important;
    line-height:35px;
}

#edit_dashboard .e-panel-content {
    height: calc(100% - 37px) !important;
    overflow: hidden;
    width:100%;
}


.bootstrap5-dark .dialog-text,
.highcontrast .dialog-text,
.tailwind-dark .dialog-text,
.fabric-dark .dialog-text,
.bootstrap-dark .dialog-text {
    border: 1px solid #FFFFFF;
}


#edit_dashboard.e-dashboardlayout.e-control .e-panel,
#edit_dashboard.e-dashboardlayout.e-control .e-panel:hover,
#edit_dashboard.e-dashboardlayout.e-control .e-panel:active {
    border: 1px solid #bbb;
}

#edit_target .e-dialog .e-dlg-header-content {
    border-bottom: none;
    padding: 18px 18px 18px 20px;
}

#edit_target .edit::before {
    content: '\e501';
    font-family: 'e-sb-icons';
    margin-left: -7px;
    vertical-align: middle;
}

#edit_target .save::before {
    content: '\e500';
    font-family: 'e-sb-icons';
    margin-left: -7px;
    vertical-align: middle;
}
/* custom code start*/
@font-face {
    font-family: 'e-sb-icons';
    src: url(data:application/x-font-ttf;charset=utf-8;base64,AAEAAAAKAIAAAwAgT1MvMjttR/MAAAEoAAAAVmNtYXDlEOVaAAABjAAAADhnbHlmAM1kuQAAAcwAAAD8aGVhZBRipc8AAADQAAAANmhoZWEIUQQEAAAArAAAACRobXR4DAAAAAAAAYAAAAAMbG9jYQA6AH4AAAHEAAAACG1heHABEQA4AAABCAAAACBuYW1lWD3y/QAAAsgAAAIlcG9zdNvk7cwAAATwAAAANQABAAAEAAAAAFwEAAAAAAAD9AABAAAAAAAAAAAAAAAAAAAAAwABAAAAAQAApr5cCV8PPPUACwQAAAAAANioMG8AAAAA2KgwbwAAAAAD9AP0AAAACAACAAAAAAAAAAEAAAADACwABAAAAAAAAgAAAAoACgAAAP8AAAAAAAAAAQQAAZAABQAAAokCzAAAAI8CiQLMAAAB6wAyAQgAAAIABQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAUGZFZABA5QDlAQQAAAAAXAQAAAAAAAABAAAAAAAABAAAAAQAAAAEAAAAAAAAAgAAAAMAAAAUAAMAAQAAABQABAAkAAAABAAEAAEAAOUB//8AAOUA//8AAAABAAQAAAABAAIAAAAAADoAfgAEAAAAAAP0A/MAAwALABkAIwAAAREhEQEVMzUzFSE1IxEhETMVMxEjESERIxEjERUhESM1IzUhAx79xAEeR0j+m0gB9I9HR/02SEcD6EdI/KcBcf7iAR4CPI+P19f+4gEeSPzuAWb+mgNa/KZHA1lIRwAAAAMAAAAAA/QD9AADAAgAKwAACQEnCQEDJQEnNwcXPwc1Lw8PBgLH/ko2Abb9uT4BGQJC2m0/2z8HBgUFAwMCAQIEBQcICQoLDA0NDw8PEA0NDQwLCwsCkf5KNgG2/l7+5z4CQ9puP9s/CgsLCwwNDQ0QDw8PDQ0MCwoJCAcFBAIBAQEDAwUFBgAAABIA3gABAAAAAAAAAAEAAAABAAAAAAABAAcAAQABAAAAAAACAAcACAABAAAAAAADAAcADwABAAAAAAAEAAcAFgABAAAAAAAFAAsAHQABAAAAAAAGAAcAKAABAAAAAAAKACwALwABAAAAAAALABIAWwADAAEECQAAAAIAbQADAAEECQABAA4AbwADAAEECQACAA4AfQADAAEECQADAA4AiwADAAEECQAEAA4AmQADAAEECQAFABYApwADAAEECQAGAA4AvQADAAEECQAKAFgAywADAAEECQALACQBIyBlai1pY29uUmVndWxhcmVqLWljb25lai1pY29uVmVyc2lvbiAxLjBlai1pY29uRm9udCBnZW5lcmF0ZWQgdXNpbmcgU3luY2Z1c2lvbiBNZXRybyBTdHVkaW93d3cuc3luY2Z1c2lvbi5jb20AIABlAGoALQBpAGMAbwBuAFIAZQBnAHUAbABhAHIAZQBqAC0AaQBjAG8AbgBlAGoALQBpAGMAbwBuAFYAZQByAHMAaQBvAG4AIAAxAC4AMABlAGoALQBpAGMAbwBuAEYAbwBuAHQAIABnAGUAbgBlAHIAYQB0AGUAZAAgAHUAcwBpAG4AZwAgAFMAeQBuAGMAZgB1AHMAaQBvAG4AIABNAGUAdAByAG8AIABTAHQAdQBkAGkAbwB3AHcAdwAuAHMAeQBuAGMAZgB1AHMAaQBvAG4ALgBjAG8AbQAAAAACAAAAAAAAAAoAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAMBAgEDAQQABHNhdmUEZWRpdAAAAAAA) format('truetype');
    font-weight: normal;
    font-style: normal;
}

[class^="sf-icon-"],
[class*=" sf-icon-"] {
    font-family: 'e-sb-icons' !important;
    speak: none;
    font-size: 55px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/* custom code end*/
#edit_dashboard{
    display: block;
}
