
#predefine_dashboard.e-dashboardlayout .e-panel .e-panel-container .e-panel-header .e-header-text {
  padding: 12px 0 12px 0;
}

#predefine_dashboard .e-panel .e-panel-container .e-panel-header {
  font-size: 14px;
  font-weight: 500;
  height: 37px;
  vertical-align: middle;
  padding: 0 12px;
  border-bottom: 0.5px solid #e3e3e3;
}
.bootstrap5.e-bigger #predefine_dashboard .e-panel .e-panel-header,
.bootstrap5-dark.e-bigger #predefine_dashboard .e-panel .e-panel-header	{
        font-size: 18px;
        font-weight: 600; 
        height: 68px;
        padding: 20px 0 20px 20px;
}

body.material3-dark .e-panel .panel-content,
body.fluent-dark .e-panel .panel-content,
body.material-dark .e-panel .panel-content,
body.fabric-dark .e-panel .panel-content,
body.bootstrap-dark .e-panel .panel-content,
body.tailwind-dark .e-panel .panel-content,
body.bootstrap5-dark .e-panel .panel-content,
body.highcontrast .e-panel .panel-content,
body.fluent-dark .e-panel .panel-content,
body.bootstrap5\.3-dark .e-panel .panel-content,
body.fluent2-highcontrast .e-panel .panel-content {
    color: #ffffff;
}

#predefine_dashboard .header-border {
  position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    border-top: 5px solid #2684ff;
}


#predefine_dashboard .e-panel .e-panel-container .e-panel-content {
  vertical-align: middle;
  font-size: 15px;
  font-size: 15px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.61);
  text-align: center;
  padding: 10px;  
}

#dash_property .image-pattern-style {
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  height: 80px;
  width: calc((100% - 12px) / 3);
  cursor: pointer;
  border: 1px solid #D5D5D5;
  background-position: center;
  float: left;
  margin-right: 3px;
  line-height: 77px;
  text-align: center;
}

#dash_property  .image-pattern-style:hover {
  border-color: gray;
  border-width: 1px;
}

#dash_property  .row {
  margin-left: 0px;
  margin-right: 0px;
}

#dash_property  .row-header {
  font-size: 13px;
  font-weight: 500;
}

#dash_property  .e-selected-style {
  border-color: #006CE6;
  border-width: 2px;
}

#dash_property  .e-panel-content {
  padding: 10px;
}

#dash_property  #reset {
  display: block;
  margin: 0 auto;
  width: 90px;
}

@font-face {
  font-family: 'e-image-icons';
  src: url(data:application/x-font-ttf;charset=utf-8;base64,AAEAAAAKAIAAAwAgT1MvMj1tSfcAAAEoAAAAVmNtYXDnGOdwAAABnAAAAEBnbHlm7T9lcAAAAewAAAMAaGVhZBNZsVUAAADQAAAANmhoZWEIVQQIAAAArAAAACRobXR4HAAAAAAAAYAAAAAcbG9jYQIkAvIAAAHcAAAAEG1heHABGwA0AAABCAAAACBuYW1lc0cOBgAABOwAAAIlcG9zdIcThQAAAAcUAAAAbwABAAAEAAAAAFwEAAAAAAAD+AABAAAAAAAAAAAAAAAAAAAABwABAAAAAQAAF3zLC18PPPUACwQAAAAAANghtloAAAAA2CG2WgAAAAAD+AOkAAAACAACAAAAAAAAAAEAAAAHACgACgAAAAAAAgAAAAoACgAAAP8AAAAAAAAAAQQAAZAABQAAAokCzAAAAI8CiQLMAAAB6wAyAQgAAAIABQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAUGZFZABA5wDnBQQAAAAAXAQAAAAAAAABAAAAAAAABAAAAAQAAAAEAAAABAAAAAQAAAAEAAAABAAAAAAAAAIAAAADAAAAFAADAAEAAAAUAAQALAAAAAQABAABAADnBf//AADnAP//AAAAAQAEAAAAAQACAAMABAAFAAYAAAAAADIAcgCyAQABQAGAAAYAAAAAA/gDpAADAAcACwAPABMAFwAAARUhNQchNSEBESERIxEhEQEhESEBIREhA+P8OhUD8PwQA9v+71T9nwKgATv+xf1LAov9dQEZqKi90gJh/d4CIv3eAiL9yQJM/bQCTAAIAAAAAAP4A6QAAwAHAAsADwATABcAGwAfAAAlFSE1ByE1IQERIREjESERASERIQEhESElFSE1ByE1IQPj/DoVA/D8EAPb/bRU/toBZQJ2/Yr+hgFQ/rAD2/w6FQPw/BDaaWl+kwHj/lwBpP5cAaT+RwHO/jIBzqhpaX6TAAAAAAgAAAAAA/gDpAADAAcACwAPABMAFwAbAB8AACUVITUHITUhAREhESMRIREBIREhASERISUVITUHITUhA+P8OhUD8PwQA9v+R1T+RwH4AeP+Hf3zAeP+HQPb/DoVA/D8ENppaX6TAeP+XAGk/lwBpP5HAc7+MgHOqGlpfpMAAAAACgAAAAAD+AOkAAMABwALAA8AEwAXABsAHwAjACcAACUVITUHITUhAREhESMRIREjESMRASERIQEhESEBIREhJRUhNQchNSED4/w6FQPw/BAD2/7vVP7vVPwCoAE7/sX+mwE7/sX+sAEm/toD2/w6FQPw/BDaaWl+kwHj/lwBpP5cAaT+XAGk/kcBzv4yAc7+MgHOqGlpfpMAAAAACAAAAAAD+AOkAAMABwALAA8AEwAXABsAHwAAJRUhNQchNSEBESERIxEhEQEhESEBIREhJRUhNQchNSED4/w6FQPw/BAD2/7aVP20AosBUP6w/WACdv2KA9v8OhUD8PwQ2mlpfpMB4/5cAaT+XAGk/kcBzv4yAc6oaWl+kwAAAAAIAAAAAAP4A6QAAwAHAAsADwATABcAGwAfAAABFSE1ByE1IQERIxEjESERIxEhEQEhESEBIREhASERIQPj/DoVA/D8EAPb/FT+71T+7wFQATv+xf6bATv+xQLKASb+2gEZqKi90gJh/d4CIv3eAiL93gIi/ckCTP20Akz9tAJMAAAAEgDeAAEAAAAAAAAAAQAAAAEAAAAAAAEABwABAAEAAAAAAAIABwAIAAEAAAAAAAMABwAPAAEAAAAAAAQABwAWAAEAAAAAAAUACwAdAAEAAAAAAAYABwAoAAEAAAAAAAoALAAvAAEAAAAAAAsAEgBbAAMAAQQJAAAAAgBtAAMAAQQJAAEADgBvAAMAAQQJAAIADgB9AAMAAQQJAAMADgCLAAMAAQQJAAQADgCZAAMAAQQJAAUAFgCnAAMAAQQJAAYADgC9AAMAAQQJAAoAWADLAAMAAQQJAAsAJAEjIGUtaWNvbnNSZWd1bGFyZS1pY29uc2UtaWNvbnNWZXJzaW9uIDEuMGUtaWNvbnNGb250IGdlbmVyYXRlZCB1c2luZyBTeW5jZnVzaW9uIE1ldHJvIFN0dWRpb3d3dy5zeW5jZnVzaW9uLmNvbQAgAGUALQBpAGMAbwBuAHMAUgBlAGcAdQBsAGEAcgBlAC0AaQBjAG8AbgBzAGUALQBpAGMAbwBuAHMAVgBlAHIAcwBpAG8AbgAgADEALgAwAGUALQBpAGMAbwBuAHMARgBvAG4AdAAgAGcAZQBuAGUAcgBhAHQAZQBkACAAdQBzAGkAbgBnACAAUwB5AG4AYwBmAHUAcwBpAG8AbgAgAE0AZQB0AHIAbwAgAFMAdAB1AGQAaQBvAHcAdwB3AC4AcwB5AG4AYwBmAHUAcwBpAG8AbgAuAGMAbwBtAAAAAAIAAAAAAAAACgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABwECAQMBBAEFAQYBBwEIAAlUZW1wbGF0ZTEJVGVtcGxhdGUyCVRlbXBsYXRlMwlUZW1wbGF0ZTQJVGVtcGxhdGU1CVRlbXBsYXRlNgAAAA==) format('truetype');
  font-weight: normal;
  font-style: normal;
}

#dash_property  .image-pattern-style {
  font-family: 'e-image-icons';
  speak: none;
  font-size: 80px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#dash_property  .image-pattern-style#template1::before {
  content: "\e700";
}

#dash_property  .image-pattern-style#template2::before {
  content: "\e701";
}

#dash_property  .image-pattern-style#template3::before {
  content: "\e702";
}

#dash_property  .image-pattern-style#template4::before {
  content: "\e703";
}

#dash_property  .image-pattern-style#template5::before {
  content: "\e704";
}

#dash_property  .image-pattern-style#template6::before {
  content: "\e705";
}

div#predefine_control {
  border: 1px solid lightgray;
}
 body.highcontrast #predefine_dashboard .panel-content {
        color: rgba(255, 255, 255, 0.54);
}
