#api-control {
    margin: 30px auto;
    padding-top: 50px;
    text-align: center;
}

.property-panel-content{
    overflow: auto;
}

#api-control h4 {
    margin-bottom: 20px;
}

.e-bigger #api-control h4 {
    font-size: 20px;
}