#default-control {
    margin: 30px auto;
    padding-top: 50px;
    text-align: center;
}

#default-control h4 {
    margin-bottom: 20px;
}

.fluent-dark #colorpicker-control h4 {
    color: #fff;
}

.e-bigger #default-control h4 {
    font-size: 20px;
}