.quick-info-template .quick-info-header {
  background-color: white;
  padding: 8px 18px;
}

.quick-info-template .quick-info-header-content {
  justify-content: flex-end;
  display: flex;
  flex-direction: column;
  padding: 5px 10px 5px;
}

.quick-info-template .quick-info-title {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.48px;
  height: 22px;
}

.quick-info-template .duration-text {
  font-size: 11px;
  letter-spacing: 0.33px;
  height: 14px;
}

.quick-info-template .quick-content-area {
  margin: 0;
  padding: 10px;
  width: auto;
}

.quick-info-template .event-content {
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 15px;
}

.quick-info-template .meeting-type-wrap,
.quick-info-template .meeting-subject-wrap,
.quick-info-template .notes-wrap {
  font-size: 11px;
  color: #666;
  letter-spacing: 0.33px;
  height: 24px;
  padding: 5px;
}

.quick-info-template .event-content div label {
  display: inline-block;
  min-width: 45px;
  color: #666;
}

.quick-info-template .event-content div span {
  font-size: 11px;
  color: #151515;
  letter-spacing: 0.33px;
  line-height: 14px;
  padding-left: 8px;
}

.quick-info-template .cell-footer.e-btn {
  background-color: #ffffff;
  border-color: #878787;
  color: #878787;
}

.quick-info-template .cell-footer {
  padding-top: 10px;
}

.quick-info-template .e-quick-popup-wrapper .e-cell-popup .e-popup-content {
  padding: 0 14px 0 0;
  margin: 0 20px 0 0;
}

.quick-info-template .e-quick-popup-wrapper .e-event-popup .e-popup-footer {
  display: block;
}

.quick-info-template .e-quick-popup-wrapper .e-popup-footer button:first-child {
  margin-right: 5px;
}

.quick-info-template .e-quick-popup-wrapper .e-cell-popup {
  min-height: 265px;
}

.e-bigger .quick-info-template .e-quick-popup-wrapper .e-cell-popup {
  min-height: 290px;
}

.quick-info-header {
  background-color: white;
  padding: 8px 18px;
}

.quick-info-header-content {
  justify-content: flex-end;
  display: flex;
  flex-direction: column;
  padding: 5px 10px 5px;
}

.quick-info-title {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.48px;
  height: 22px;
}

.duration-text {
  font-size: 11px;
  letter-spacing: 0.33px;
  height: 14px;
}

.event-content {
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 15px;
}

.meeting-type-wrap,
.meeting-subject-wrap,
.notes-wrap {
  font-size: 11px;
  color: #666;
  letter-spacing: 0.33px;
  height: 24px;
  padding: 5px;
}

.event-content div label {
  display: inline-block;
  min-width: 45px;
  color: #666;
}

.event-content div span {
  font-size: 11px;
  color: #151515;
  letter-spacing: 0.33px;
  line-height: 14px;
  padding-left: 8px;
}

.cell-footer.e-btn {
  background-color: #ffffff;
  border-color: #878787;
  color: #878787;
}

.cell-footer {
  padding-top: 10px;
}

.material-dark .quick-info-template .quick-info-header {
  background-color: #424242;
}

.bootstrap-dark .quick-info-template .quick-info-header,
.bootstrap5-dark .quick-info-template .quick-info-header,
.bootstrap5_3-dark .quick-info-template .quick-info-header,
.fluent-dark .quick-info-template .quick-info-header,
.fabric-dark .quick-info-template .quick-info-header,
.material3-dark .quick-info-template .quick-info-header,
.fluent2-dark .quick-info-template .quick-info-header,
.fluent2-highcontrast .quick-info-template .quick-info-header {
  background-color: transparent;
}

.tailwind-dark .quick-info-template .quick-info-header,
.tailwind3-dark .quick-info-template .quick-info-header {
  background-color: #374151;
}

.highcontrast .quick-info-template .quick-info-header {
  background-color: #000000;
}

.tailwind-dark .quick-info-template .quick-info-header-content,
.tailwind3-dark .quick-info-template .quick-info-header-content,
.bootstrap-dark .quick-info-template .quick-info-header-content,
.bootstrap5-dark .quick-info-template .quick-info-header-content,
.bootstrap5_3-dark .quick-info-template .quick-info-header-content,
.fabric-dark .quick-info-template .quick-info-header-content,
.material-dark .quick-info-template .quick-info-header-content,
.highcontrast .quick-info-template .quick-info-header-content,
.fluent-dark .quick-info-template .quick-info-header-content,
.material3-dark .quick-info-template .quick-info-header-content,
.fluent2-dark .quick-info-template .quick-info-header-content,
.fluent2-highcontrast .quick-info-template .quick-info-header-content {
  color: #fff !important;
}

.tailwind-dark .quick-info-content .event-content div label,
.tailwind3-dark .quick-info-content .event-content div label,
.tailwind-dark .quick-info-content .event-content div span,
.tailwind3-dark .quick-info-content .event-content div span,
.bootstrap-dark .quick-info-content .event-content div label,
.bootstrap-dark .quick-info-content .event-content div span,
.bootstrap5-dark .quick-info-content .event-content div label,
.bootstrap5-dark .quick-info-content .event-content div span,
.bootstrap5_3-dark .quick-info-content .event-content div label,
.bootstrap5_3-dark .quick-info-content .event-content div span,
.fluent-dark .quick-info-content .event-content div label,
.fluent-dark .quick-info-content .event-content div span,
.fabric-dark .quick-info-content .event-content div label,
.fabric-dark .quick-info-content .event-content div span,
.material-dark .quick-info-content .event-content div label,
.material-dark .quick-info-content .event-content div span,
.highcontrast .quick-info-content .event-content div label,
.highcontrast .quick-info-content .event-content div span,
.material3-dark .quick-info-content .event-content div label,
.material3-dark .quick-info-content .event-content div span,
.fluent2-dark .quick-info-content .event-content div label,
.fluent2-dark .quick-info-content .event-content div span,
.fluent2-highcontrast .quick-info-content .event-content div label,
.fluent2-highcontrast .quick-info-content .event-content div span {
  color: #fff;
}

.material .quick-info-template .e-quick-popup-wrapper .e-popup-footer,
.material3 .quick-info-template .e-quick-popup-wrapper .e-popup-footer,
.material3-dark .quick-info-template .e-quick-popup-wrapper .e-popup-footer {
  display: block !important;
  padding: 0px 18px 8px 22px !important;
}

.material3 .quick-info-template .e-quick-popup-wrapper .e-event-popup .e-popup-header,
.material3-dark .quick-info-template .e-quick-popup-wrapper .e-event-popup .e-popup-header {
  border-radius: 12px;
}
