.schedule-views-config.e-schedule .e-agenda-view .e-appointment .subject {
  font-size: 14px;
}

.schedule-views-config.e-schedule .e-agenda-view .e-appointment .group {
  font-size: 12px;
  font-weight: 500;
}

.schedule-views-config.e-schedule .e-month-view .e-appointment .e-appointment-details {
  padding: 1px;
  padding-left: 3px;
}

.schedule-views-config.e-schedule .e-agenda-view .e-appointment .location {
  font-size: 12px;
}