.virtual-scrolling.e-schedule .template-wrap .subject {
    padding: 10px 25px;
}

.virtual-scrolling.e-schedule .template-wrap {
    width: 100%;
}

.virtual-scrolling.e-schedule .e-timeline-month-view .e-resource-left-td {
    width: 150px;
}