/* custom code start */
/* Switch Styles */
.switch-content {
  margin: 45px auto;
  width: 62%;
}

.switch-control .heading {
  text-indent: 15px;
  padding: 15px 0;
}

.switch-control div {
  display: flex;
  align-items: center;
}

.switch-control  {
  margin: 0 auto;
  width: 275px;
}

.switch-control label {
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  user-select: none;
  font-weight: 400;
  font-size: 13px;
}
/* custom code end */

.switch-control .e-disabled {
  pointer-events: none;
}