    .tree-control-wrapper {
        max-width: 320px;
        margin: auto;
        border: 1px solid #dddddd;
        border-radius: 3px;
    }
    .template-tree.e-treeview .e-list-text {
        width: 100%;
    }
    .template-tree.e-treeview .textcontent {
        float: left;
    }
    .template-tree.e-treeview.e-rtl .textcontent {
        float: right;
    }
    .template-tree.e-treeview .countcontainer {
        float: right;
        margin-right: 5px
    }
    .template-tree.e-treeview.e-rtl .countcontainer {
        float: left;
        margin-left: 5px
    }
    .material .treeCount.e-badge {
        vertical-align: middle;
    }
    .template-tree.e-treeview.e-interaction.e-fullrow-wrap .e-text-content {
        pointer-events: none;
    }
    