    .tree-control-wrapper {
        max-width: 320px;
        margin: auto;
        border: 1px solid #dddddd;
        border-radius: 3px;
    }
    .template-tree.e-treeview .e-list-text {
        width: 100%;
    }
    .template-tree.e-treeview .textcontent {
        float: left;
    }
    .template-tree.e-treeview.e-rtl .textcontent {
        float: right;
    }
    .template-tree.e-treeview .countcontainer {
        float: right;
        margin-right: 5px
    }
    .bootstrap5.e-bigger .template-tree.e-treeview .countcontainer .treeCount.e-badge,
    .bootstrap5-dark.e-bigger .template-tree.e-treeview .countcontainer .treeCount.e-badge {
        line-height: 11px;
    }
    .template-tree.e-treeview.e-rtl .countcontainer {
        float: left;
        margin-left: 5px
    }
    .material .treeCount.e-badge {
        vertical-align: middle;
    }
    .bootstrap4 .treeviewdiv .treeCount.e-badge,
    .bootstrap5 .treeviewdiv .treeCount.e-badge,
    .bootstrap5-dark .treeviewdiv .treeCount.e-badge,
    .bootstrap .treeviewdiv .treeCount.e-badge,
    .bootstrap-dark .treeviewdiv .treeCount.e-badge,
    .highcontrast .treeviewdiv .treeCount.e-badge {
        background-color: #008800;
    }
    .highcontrast .treeviewdiv .treeCount.e-badge {
        color: white;
    }
    .template-tree.e-treeview.e-interaction.e-fullrow-wrap .e-text-content {
        pointer-events: none;
    }
    