
#rteMarkdown .e-richtexteditor textarea.e-content {
    float: left;
}

#rteMarkdown .e-icon-btn.e-active .e-md-preview::before {
    content: '\e350';
}
#rteMarkdown .e-icon-btn .e-md-preview::before {
    content: '\e345';
}
.bootstrap4 #rteMarkdown .e-icon-btn.e-active .e-md-preview::before {
    content: '\e790';
}

.bootstrap4 #rteMarkdown .e-icon-btn .e-md-preview::before {
    content: '\e787';
}

.tailwind #rteMarkdown .e-icon-btn.e-active .e-md-preview::before,
.tailwind-dark #rteMarkdown .e-icon-btn.e-active .e-md-preview::before,
.fluent #rteMarkdown .e-icon-btn.e-active .e-md-preview::before,
.fluent-dark #rteMarkdown .e-icon-btn.e-active .e-md-preview::before,
.fluent2 #rteMarkdown .e-icon-btn.e-active .e-md-preview::before,
.fluent2-dark #rteMarkdown .e-icon-btn.e-active .e-md-preview::before,
.bootstrap5 #rteMarkdown .e-icon-btn.e-active .e-md-preview::before,
.bootstrap5\.3 #rteMarkdown .e-icon-btn.e-active .e-md-preview::before,
.bootstrap5\.3-dark #rteMarkdown .e-icon-btn.e-active .e-md-preview::before,
.bootstrap5-dark #rteMarkdown .e-icon-btn.e-active .e-md-preview::before,
.material3 #rteMarkdown .e-icon-btn.e-active .e-md-preview::before,
.material3-dark #rteMarkdown .e-icon-btn.e-active .e-md-preview::before {
    content: '\e80e';
}

.tailwind #rteMarkdown .e-icon-btn .e-md-preview::before,
.tailwind-dark #rteMarkdown .e-icon-btn .e-md-preview::before,
.bootstrap5 #rteMarkdown .e-icon-btn .e-md-preview::before,
.bootstrap5\.3 #rteMarkdown .e-icon-btn .e-md-preview::before,
.bootstrap5\.3-dark #rteMarkdown .e-icon-btn .e-md-preview::before,
.bootstrap5-dark #rteMarkdown .e-icon-btn .e-md-preview::before,
.fluent #rteMarkdown .e-icon-btn .e-md-preview::before,
.fluent-dark #rteMarkdown .e-icon-btn .e-md-preview::before,
.fluent2 #rteMarkdown .e-icon-btn .e-md-preview::before,
.fluent2-dark #rteMarkdown .e-icon-btn .e-md-preview::before,
.material3 #rteMarkdown .e-icon-btn .e-md-preview::before,
.material3-dark #rteMarkdown .e-icon-btn .e-md-preview::before {
    content: '\e7de';
}

#rteMarkdown .content-wrapper {
    width: auto;
    margin: 0;
}

.editor-mention-item-template {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.editor-mention-item-template .em-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.editor-mention-item-template .em-avatar {
    width: 32px;
    height: 32px;
    text-align: center;
    border-radius: 50%;
    font-size: 12px;
    font-weight: 500;
    text-indent: 0px;
    line-height: 13px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.editor-mention-item-template .em-name {
    color: rgb(16, 24, 40);
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    margin-bottom: 5px;
}
.editor-mention-item-template .em-email {
    color: gray;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
}
#markdownRTE_editable-content_popup li {
    padding: 10px;
    height: 60px;
}
body[class*="-dark"] .em-name {
    color: #fff !important;
}