.tab-control-section  .e-content .e-item {
    font-size: 12px;
    padding: 10px;
    text-align: justify;
}
.tab-control-section  .e-headertext {
    font-weight: 500;
}
.e-bigger .tab-control-section .e-tab .e-list-item {
    border-bottom: 1px solid gainsboro;
}
.tab-control-section  .e-tab .e-list-item {
    height: 63px;
    border-bottom: 1px solid gainsboro;
}
.tab-control-section  .e-tab .e-list-item:last-child {
    border-bottom: 1px solid gainsboro;
}
.e-bigger .tab-control-section  .e-tab .e-list-item {
    height: 63px;
}
.tab-control-section .template-container {
    height: 100%;
    padding-top: 7px;
}
.tab-control-section .left {
    display: inline-block;
    vertical-align: top;
}
.tab-control-section .empImg {
    height: 48px;
    width: 48px;
}
.tab-control-section .name, .role {
    line-height: normal;
}
.tab-control-section .name {
    font-weight: 500;
}
.tab-control-section .role {
    color: grey;
    font-weight: 100;
}
.tab-control-section .info-div {
    padding: 7px 0 0 15px;
}
.tab-control-section .content-title {
    height: 50px;
    display: table;
    margin: 0 auto;
}
.tab-control-section .cnt-text {
    vertical-align: middle;
    display: table-cell;
    font-size: 18px;
    font-weight: 600;
}
.tab-control-section .e-tab .e-listview .e-text {
    display: block;
    text-align: center;
}
.tab-control-section .property-panel-content {
    padding: 10px;
}
@media only screen and (min-width: 1824px) {
    .tab-control-section .col-lg-8.adaptive {
        width: 40%;
    }
    .e-bigger .tab-control-section .col-lg-8.adaptive {
        width: 45%;
    }
}
.e-content .e-item {
    font-size: 12px;
    margin: 10px;
}

#amount {
    text-align: right;
    font-size: 15px;
    padding: 15px 0px;
}

#passenger-table th {
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    border: 1px solid gainsboro;
}

#passenger-table td,
#passenger-table th {
    padding: 10px;
}

#passenger-table td {
    border: 1px solid gainsboro;
}

.name-header {
    width: 200px;
}

.age-header {
    width: 80px;
}

.gender-header {
    width: 120px;
}

.type-header {
    width: 150px;
}

.btn-container {
    text-align: center;
}

.search-item {
    padding-right: 50px;
    padding-bottom: 20px;
}

.item-title {
    font-weight: 500;
    padding-top: 10px;
}

@media (max-width: 450px) {
    .e-sample-resize-container {
        height: 450px;
    }
    .responsive-align {
        width: 75%;
        margin: 0 auto;
    }
    .search-item {
        padding: 0 0 20px 0;
        width: 100%;
    }
}

#err1,
#err2,
#err3 {
    font-weight: bold;
    color: red;
    display: block;
    margin-top: 15px;
}

.wizard-title {
    font-size: 15px;
}

#PassengersList {
    overflow: auto;
}
#passenger-table {
    min-width: 500px;
    width: 100%;
}