.tab-control-section .orientation-tab .e-content .e-item,
.tab-control-section .responsive-mode .e-content .e-item {
    font-size: 12px;
    padding: 10px;
    text-align: justify;
}
.tab-control-section  .e-headertext {
    font-weight: 500;
}
.e-bigger .tab-control-section .e-tab .e-list-item {
    border-bottom: 1px solid gainsboro;
}
.tab-control-section  .e-tab .e-list-item {
    height: 63px;
    border-bottom: 1px solid gainsboro;
}
.tab-control-section  .e-tab .e-list-item:last-child {
    border-bottom: 1px solid gainsboro;
}
.e-bigger .tab-control-section  .e-tab .e-list-item {
    height: 63px;
}
.tab-control-section .template-container {
    height: 100%;
    padding-top: 7px;
}
.tab-control-section .left {
    display: inline-block;
    vertical-align: top;
}
.tab-control-section .empImg {
    height: 48px;
    width: 48px;
}
.tab-control-section .name, .role {
    line-height: normal;
}
.tab-control-section .name {
    font-weight: 500;
}
.tab-control-section .role {
    color: grey;
    font-weight: 100;
}
.tab-control-section .info-div {
    padding: 7px 15px 0 15px;
}
.tab-control-section .content-title {
    height: 50px;
    display: table;
    margin: 0 auto;
}
.tab-control-section .cnt-text {
    vertical-align: middle;
    display: table-cell;
    font-size: 18px;
    font-weight: 600;
}
.tab-control-section .e-tab .e-listview .e-text {
    display: block;
    text-align: center;
}

/* custom code start*/
.tab-control-section .property-panel-content {
    padding: 10px;
}
@media only screen and (min-width: 1824px) {
    .tab-control-section .col-lg-8.adaptive {
        width: 40%;
    }
    .e-bigger .tab-control-section .col-lg-8.adaptive {
        width: 45%;
    }
}

/* custom code end*/

#amount {
    text-align: right;
    font-size: 15px;
    padding: 15px 0px;
}

#passenger-table th {
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    border: 1px solid gainsboro;
}

#passenger-table td,
#passenger-table th {
    padding: 10px;
}

#passenger-table td {
    border: 1px solid gainsboro;
}

.name-header {
    width: 200px;
}

.age-header {
    width: 80px;
}

.gender-header {
    width: 120px;
}

.type-header {
    width: 150px;
}

.btn-container {
    text-align: center;
}

.search-item {
    padding-right: 50px;
    padding-bottom: 20px;
}

.item-title {
    font-weight: 500;
    padding-top: 10px;
}

@media (max-width: 450px) {
    .tab-control-resize-container {
        height: 500px;
    }
    .responsive-align {
        width: 75%;
        margin: 0 auto;
    }
    .search-item {
        padding: 0 0 20px 0;
        width: 100%;
    }
}

#err1,
#err2,
#err3 {
    font-weight: bold;
    color: red;
    display: block;
    margin-top: 15px;
}

.wizard-title {
    font-size: 15px;
}

#PassengersList {
    overflow: auto;
}
#passenger-table {
    min-width: 500px;
    width: 100%;
}
.tab-control-section .orientation-tab .e-listview:not(.e-list-template) .e-list-item {
    height: 63px;
    padding: 0 16px !important;
}

.orientation-tab .e-content .e-item.e-active,
.orientation-tab .e-content .e-item.e-active ul.e-list-parent {
    width: 100%;
}

#tab-wizard .e-content .e-item {
    font-size: 12px;
    margin: 10px;
}

#bookTickets, #confirmTickets, #makePayment {
    margin-left: 4px;
}

#draggableTab .e-content .e-item {
    font-size: 12px;
    padding: 10px;
    text-align: justify;
}
#draggableTab .e-upload {
    width: 300px;
}
#TabContainer .property-panel-header {
    text-align: center;
    padding-bottom: 0;
}
.treeview-external-drag-tab .e-list-item,
.e-bigger .treeview-external-drag-tab .e-list-item {
    border: 0.5px solid #E1E7EC;
    line-height: 15px;
    padding: 0 5px;
}
.bootstrap5 .treeview-external-drag-tab .e-list-item.e-active > .e-text-content .e-list-text,
.bootstrap4 .treeview-external-drag-tab .e-list-item.e-active > .e-text-content .e-list-text {
    color: #212529;
}
.bootstrap .treeview-external-drag-tab .e-list-item.e-active > .e-text-content .e-list-text {
    color: #333;
}
.treeview-external-drag-tab .e-list-item.e-hover>.e-fullrow,
.treeview-external-drag-tab .e-list-item.e-active>.e-fullrow,
.treeview-external-drag-tab .e-list-item.e-active.e-hover>.e-fullrow,
.e-bigger .treeview-external-drag-tab .e-list-item.e-hover>.e-fullrow,
.e-bigger .treeview-external-drag-tab .e-list-item.e-active>.e-fullrow,
.e-bigger .treeview-external-drag-tab .e-list-item.e-active.e-hover>.e-fullrow {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none !important;
}
#TabContainer {
    display: flex;
}
@media (max-width: 550px) {
    #TabContainer {
        display: block;
    }
}
.key-class {
    display: inline-block;
    width: 130px;
}
@media only screen and (min-width: 1824px) {
    .tab-control-resize-container {
        width: 560px;
    }

    .e-bigger .tab-control-resize-container {
        width: 75%;
    }
}
@media screen and (max-width: 425px) {
    .responsive-mode {
        overflow: hidden;
    }

    .responsive-mode .e-content {
        height: inherit !important;
    }

    .responsive-mode .e-item.e-active {
        overflow: scroll;
    }
}
