#combodefault .col-lg-9 {
    min-height: 250px;
}
#default {
    margin: 0 auto;
    width: 250px !important;
    padding-top: 15px;
}
#combodefault .property-panel-content, #combopanel .property-panel-content{
    overflow: hidden;
}