.integration-speech-to-text-assist-section {
    height: 550px;
    width: 550px;
    margin: 0 auto;
}

.integration-speech-to-text-assist-section .banner-info .e-listen-icon:before {
    font-size: 35px;
}

.integration-speech-to-text-assist-section .banner-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 330px;
    text-align: center;
}

.integration-speech-to-text-assist-section #assistview-sendButton {
    box-shadow: none;
    color: inherit;
}
@media only screen and (max-width: 750px) {
    .integration-speech-to-text-assist-section {
        width: 100%;
    }
}