@import './common.css';
@import './themes/highcontrast.css';
@import './themes/material3.css';
@import './themes/material3-dark.css';
@import './themes/bootstrap5.css';
@import './themes/fluent.css';
@import './themes/bootstrap5-dark.css';
@import './themes/tailwind3.css';
@import './themes/tailwind3-dark.css';
@import './themes/tailwind.css';
@import './themes/tailwind-dark.css';
@import './themes/fluent-dark.css';
@import './themes/fluent2.css';
@import './themes/fluent2-dark.css';
@import './themes/fluent2-highcontrast.css';
@import './themes/bootstrap5.3.css';
@import './themes/bootstrap5.3-dark.css';