@import './common.css';
@import './themes/highcontrast.css';
@import './themes/material3.css';
@import './themes/material3-dark.css';
@import './themes/material.css';
@import './themes/material-dark.css';
@import './themes/fluent.css';
@import './themes/bootstrap4.css';
@import './themes/bootstrap5.css';
@import './themes/bootstrap5-dark.css';
@import './themes/tailwind.css';
@import './themes/tailwind-dark.css';
@import './themes/fabric.css';
@import './themes/fabric-dark.css';
@import './themes/bootstrap.css';
@import './themes/bootstrap-dark.css';
@import './themes/fluent-dark.css';
@import './themes/fluent2.css';
@import './themes/fluent2-dark.css';
