.e-multiselect.e-input-group {
    padding: 0px !important;
}

.pivot-property-section table tr td:first-child {
    width: 20%;
}

.e-bigger .pivot-property-section .e-input-group.e-control-wrapper .e-input-group-icon {
    padding: 0px !important;
    min-height: 36px;
    min-width: 36px;
}