.e-pivotview {
    width: 100%;
    height: 100%;
}

.valuecls {
    margin-top: 13px;
}

.material .valuecls {
    margin-top: 8px;
}

.pivottable-property-section .e-multiselect.e-input-group {
    padding: 0px !important;
    width: 98% !important;
}

.material .pivottable-property-section .e-multiselect.e-input-group {
    width: 100% !important;
}

.pivottable-property-section table tr td:first-child {
    width: 20%;
}
  
.pivottable-property-section {
    overflow: auto;
}

.sb-sample-content-area {
    min-height: 255px !important;
}
.control-section {
    min-height: 255px !important;
}