
    /* ListView position alignment */

    #ui-list.e-listview {
        margin: auto;
        max-width: 325px;
        line-height: initial;
        border: 1px solid lightgray;
    }

    body.tailwind-dark .e-listview.e-list-template .e-list-wrapper:not(.e-list-multi-line) .e-list-content{
        padding: 0.83em 0;
    }

    body.tailwind-dark .e-listview.e-list-template .e-list-wrapper.e-list-avatar .e-avatar {
        height: 2.8571em;
        left: 1.0667em;
        top: 0.7142em;
        width: 2.8571em;
    }

    /* ListView header alignment */

    #ui-list.e-listview .e-list-header {
        height: 50px
    }

    #ui-list.e-listview .e-list-header .e-text {
        line-height: 18px
    }

    /* ListView template customization */

    #ui-list.e-listview .showUI {
        display: flex;
    }

    #ui-list.e-listview .hideUI {
        display: none;
    }

    #ui-list.e-listview .e-list-item {
        padding: 3px 0;
    }

    #ui-list.e-listview .R {
        background: lightgrey;
    }

    #ui-list.e-listview .M {
        background: pink;
    }

    #ui-list.e-listview .A {
        background: lightgreen;
    }

    #ui-list.e-listview .S {
        background: lightskyblue;
    }

    #ui-list.e-listview .J {
        background: orange;
    }

    #ui-list.e-listview .N {
        background: lightblue;
    }

    /* ListView theme customization */

    .highcontrast #ui-list.e-listview .e-list-item:not(.e-hover),
    .highcontrast #ui-list.e-listview .e-list-header {
        background: rgb(0, 0, 0);
    }

    .highcontrast #ui-list.e-listview .e-list-item.e-active {
        background: #ffd939;
        color: #000000;
    }
